/**
 * @name Outlook
 * @author maenDisease
 * @version 1.0.0
 * @description Based on Outlook Web. Customize with https://bdeditor.dev/theme/Outlook
 * @source https://github.com/maenDisease/Outlook
 * @website https://maendisease.github.io/
 * @invite BShu37e4jg
*/

@import url('https://maendisease.github.io/Outlook/Outlook.css');

@import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);
:root {
  --home-image: url(https://maendisease.github.io/Outlook/illustrations/homeimage-default.avif);
  --accent-hue: 208;
  --accent-saturation: 85%;
  --accent-brightness: 40%;
  --gradient-toggle: 1;
  --gradient-hue-shift: 0.2;
  --gradient-saturation: 50%;
  --gradient-deg: 179.52deg;
  --customFont: "Segoe UI";
}

/* Custom CSS below here */