#app-mount .layer_f7d46a .layer_f7d46a ~.layer_f7d46a  .contentColumn__5f80b:not(.contentColumnMinimal__7b4f5)>div {
    animation: settingsIn 0.367s cubic-bezier(0.1, 0.9, 0.2, 1) both;
}

#app-mount .layer_f7d46a ~.layer_f7d46a  .customColumn__0b6a6>div {
    animation: settingsIn 0.367s cubic-bezier(0.1, 0.9, 0.2, 1) both;
}

@keyframes settingsIn {
    from {
        transform: translateX(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.layers__1c917>.layer_f7d46a .animating_b7d085 *,
.layers__1c917>.layer_f7d46a .animating_b7d085 {
    pointer-events: auto !important;
    will-change: unset;
}

#app-mount .layer_f7d46a ~.layer_f7d46a  {
    max-width: var(--settingsmodalwidth);
    width: 1096px !important;
    border-radius: 8px !important;
    box-shadow: var(--elevation-modal) !important;
}

#app-mount .layer_f7d46a .stop-animations:first-child::after {
    opacity: 0.4 !important;
}

.sidebarRegion__36437 {
    border-right: 1px solid var(--background-tertiary);
}

body #app-mount .sidebarRegion__36437 {
    -ms-flex: 0 0 0 !important;
    flex: 0 0 0 !important;
}

.contentRegion__08eba {
    -ms-flex: 1 1 860px;
    flex: 1 1 860px;
}

.contentColumn__5f80b,
.customColumn__0b6a6 {
    max-width: 860px;
    width: 100%;
    min-width: unset;
}

body #app-mount .sidebar__02e8d,
body #app-mount .layer_f7d46a ~.layer_f7d46a  .sidebar__02e8d {
    width: 228px !important;
    padding: 20px 0 40px 8px !important;
}

.sidebar__02e8d {
    min-width: 228px;
}

.sidebar__02e8d .headerText_e86b38 {
    font-size: 20px;
    line-height: 28px;
    color: var(--header-primary);
    font-weight: 600;
}

.separator_d14fb1 {
    opacity: 0;
}

.eyebrow_e5a66c {
    text-transform: capitalize;
}

.sidebar__02e8d .item__48dda {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0;
    font-size: 14px;
}

#app-mount .sidebar__02e8d .themed_b957e8.selected_a523ff.item__48dda,
#app-mount .sidebar__02e8d .themed_b957e8:not(.selected_a523ff).item__48dda:active {
    background: var(--themeLight);
}

.sidebar__02e8d .selected_a523ff.item__48dda,
.sidebar__02e8d .item__48dda:not(.selected_a523ff):active {
    color: var(--themeDark);
    font-weight: 600;
}

.sidebar__02e8d .side_b4b3f6 .item__48dda::before {
    margin-left: 11px;
    margin-right: 18px;
}

.sidebarRegionScroller__8113e {
    background: var(--bg-overlay-3, var(--gradient-kit-80a)), var(--background-secondary);
}


.contentRegionScroller__9ae20 {
    padding-top: 20px;
    overflow-y: overlay !important;
    background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
}

.contentRegionScroller__9ae20::-webkit-scrollbar-track {
    margin-top: 63px;
}

#app-mount .layer_f7d46a ~.layer_f7d46a  .contentColumnDefault__78de3 {
    padding: 0 20px 40px 20px !important;
}

.contentColumn__5f80b>div:first-child>.sectionTitle__3e02b,
.contentColumn__5f80b>div:not([class]):first-child>div:not([class]):first-child>.sectionTitle__3e02b,
#profile-customization-tab h2,
#billing-tab>div:not([class]):first-child>div:not([class]):first-child h2,
#roles-tab div:not([class])>h2,
#emoji-tab .sectionTitle__3e02b,
#integrations-tab>.flex_f18b02:first-child,
#guild_templates-tab h2,
#vanity_url-tab h2.title__1b7e8 {
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    width: 200%;
    padding: 20px;
    margin-left: -21px;
    z-index: 10;
    transform: translateY(-20px);
    background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
    border-bottom: 1px solid var(--background-tertiary);
}

.contentColumn__5f80b>div:first-child>.sectionTitle__3e02b h2,
.contentColumn__5f80b>div:not([class]):first-child>div:not([class]):first-child>.sectionTitle__3e02b h2,
#profile-customization-tab h2,
#billing-tab>div:not([class]):first-child>div:not([class]):first-child h2,
#roles-tab div:not([class])>h2,
#emoji-tab .sectionTitle__3e02b h2,
#integrations-tab>.flex_f18b02:first-child h2,
#guild_templates-tab h2,
#vanity_url-tab h2.title__1b7e8 {
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 0;
}
