#profile-customization-tab {
    padding-top: 0;
}

#profile-customization-tab h2 {
    margin-left: -40px;
}

.eyebrow_c46f6a,
.heading-deprecated-12-normal_a3fe71 {
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--header-primary);
}

.h1_c46f6a {
    font-size: 17px;
    line-height: 21px;
}

.defaultMarginh1_c46f6a,
.defaultMarginh2_c46f6a {
    margin-bottom: 16px;
}

#app-mount .description_b89ec7 {
    font-weight: 400;
}

/* Appearancesettings */
.themeSelectionContainer_cb7c27 {
    height: 48px;
    width: 48px;
}

.themeSelection_cb7c27 {
    border-radius: 4px;
}

.defaultThemeSelection_cb7c27 {
    box-shadow: none;
}

.checkmarkCircle_cb7c27 {
    display: none;
}

.selectionCircle_cb7c27 {
    border-radius: 6px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    top: -4px;
    left: -4px;
    border: 2px solid var(--brand-experiment);
    box-shadow: none;
}

.presets_f45ea6 {
    gap: 8px;
}

.themeEditor_c9dda6 {
    z-index: 999;
    padding: 16px 0;
    border-left: 1px solid var(--background-tertiary);
    box-shadow: var(--elevation-medium);
}

.connectContainer_e2a436 {
    background: var(--background-primary);
    border-radius: 4px;
    border: 1px solid var(--background-tertiary);
}

.accountButtonInner_e2a436 {
    background-color: transparent;
    border: 1px solid var(--background-tertiary);
}


.connection_e2a436 {
    background: var(--background-primary);
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--background-tertiary);
}

.connectionHeader_e2a436 {
    border-radius: 4px 4px 0 0;
    background: none;
}

.cardPrimary_cb7a0e {
    background: var(--background-primary);
    border: 1px solid var(--background-tertiary);
}

#app-mount .paymentPane_f66684 {
    background: var(--background-primary);
    border-radius: 4px;
}

#app-mount .paginator_f66684,
#app-mount .payment_a28a08 {
    background: var(--background-primary);
}

#app-mount .bottomDivider_f66684 {
    border-bottom-color: var(--background-tertiary);
}
