#profile-customization-tab {
    padding-top: 0;
}

#profile-customization-tab h2 {
    margin-left: -40px;
}

.eyebrow-2wJAoF,
.heading-deprecated-12-normal-2W7e8Q {
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--header-primary);
}

.h1-3iMExa {
    font-size: 17px;
    line-height: 21px;
}

.defaultMarginh1-1UYutH,
.defaultMarginh2-12QQ2z {
    margin-bottom: 16px;
}

#app-mount .description-foE_WP {
    font-weight: 400;
}

/* Appearancesettings */
.themeSelectionContainer-3nGXK9 {
    height: 48px;
    width: 48px;
}

.themeSelection-2u4ce0 {
    border-radius: 4px;
}

.defaultThemeSelection-2M_3x4 {
    box-shadow: none;
}

.checkmarkCircle-2LCcdI {
    display: none;
}

.selectionCircle-3s5Uex {
    border-radius: 6px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    top: -4px;
    left: -4px;
    border: 2px solid var(--brand-experiment);
    box-shadow: none;
}

.presets-2zm9Ir {
    gap: 8px;
}

.themeEditor-1Ebyfp {
    z-index: 999;
    padding: 16px 0;
    border-left: 1px solid var(--background-tertiary);
    box-shadow: var(--elevation-medium);
}

.connectContainer-1hylYM {
    background: var(--background-primary);
    border-radius: 4px;
    border: 1px solid var(--background-tertiary);
}

.accountButtonInner-33vCDY {
    background-color: transparent;
    border: 1px solid var(--background-tertiary);
}


.connection-YOVI9j {
    background: var(--background-primary);
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--background-tertiary);
}

.connectionHeader-Ixbb1s {
    border-radius: 4px 4px 0 0;
    background: none;
}

.cardPrimary-pAe8Ed {
    background: var(--background-primary);
    border: 1px solid var(--background-tertiary);
}

#app-mount .paymentPane-ut5qKZ {
    background: var(--background-primary);
    border-radius: 4px;
}

#app-mount .paginator-1eqD2g,
#app-mount .payment-2bOh4k {
    background: var(--background-primary);
}

#app-mount .bottomDivider-ZmTm-j {
    border-bottom-color: var(--background-tertiary);
}