.notice__5fd4c {
    display: flex;
}

.notice__5fd4c .closeButton__90904 {
    position: relative;
    display: flex;
}

.notice__5fd4c .closeIcon__967e7 {
    display: none;
}

.notice__5fd4c .back_dd5a33 {
    position: relative;
    left: unset;
    margin-right: 10px;
}

.notice__5fd4c:not([style*="position: relative !important;"]) {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 36px;
    width: fit-content;
    border-radius: 8px;
    padding: 4px 8px;
    margin: 8px;
}

/* BDFDB banner */
#app-mount .app_a01fb1>.notice__5fd4c~.layers_d4b6c5.layers_a01fb1 .container_b2ca13,
.app_a01fb1>.notice__5fd4c~.layers_d4b6c5.layers_a01fb1 #bd-notices,
.app_a01fb1>.notice__5fd4c~.layers_d4b6c5.layers_a01fb1 .chat_a7d72e:not(:has(.topControls_dd069c)) .toolbar_e44302,
.app_a01fb1>.notice__5fd4c~.layers_d4b6c5.layers_a01fb1 .container_c2739c .toolbar_e44302,
.app_a01fb1>.notice__5fd4c~.layers_d4b6c5.layers_a01fb1 .sidebar_a4d4d9:has(.privateChannels_f0963d)~.chat_a7d72e .children_e44302,
.app_a01fb1>.notice__5fd4c~.layers_d4b6c5.layers_a01fb1 .topControls_dd069c,
.app_a01fb1>.notice__5fd4c~.layers_d4b6c5.layers_a01fb1 .header_fd6364,
.app_a01fb1>.notice__5fd4c~.layers_d4b6c5.layers_a01fb1 .search_ff5f90,
.platform-win .typeWindows_a934d8:has(~div .app_a01fb1>.notice__5fd4c) {
    margin-top: 36px;
}

#bd-notices {
    position: fixed;
    top: var(--titlebar-height);
    right: 0;
    z-index: 9999;
}

#bd-notices .bd-notice {
    border-radius: 8px;
    margin: 8px;
    box-shadow: var(--elevation-high);
    padding: 4px 8px;
    height: unset;
    align-items: center;
    display: flex;
}

.bd-notice-close {
    position: relative;
    width: 32px;
    height: 32px;
    background-position: 50% 55%;
    background-size: 10px 10px;
}

.bd-notice-button {
    border-radius: 4px;
    top: unset;
}
