.notice__5fd4c {
    display: flex;
}

.notice__5fd4c .closeButton__90904 {
    position: relative;
    display: flex;
}

.notice__5fd4c .closeIcon__967e7 {
    display: none;
}

.notice__5fd4c .back_e83edd {
    position: relative;
    left: unset;
    margin-right: 10px;
}

.notice__5fd4c:not([style*="position: relative !important;"]) {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 36px;
    width: fit-content;
    border-radius: 8px;
    padding: 4px 8px;
    margin: 8px;
}

/* BDFDB banner */
#app-mount .app_de4237>.notice__5fd4c~.layers__1c917.layers_a23c37 .container_debb33,
.app_de4237>.notice__5fd4c~.layers__1c917.layers_a23c37 #bd-notices,
.app_de4237>.notice__5fd4c~.layers__1c917.layers_a23c37 .chat__52833:not(:has(.topControls_e834ab)) .toolbar__62fb5,
.app_de4237>.notice__5fd4c~.layers__1c917.layers_a23c37 .container_bd15da .toolbar__62fb5,
.app_de4237>.notice__5fd4c~.layers__1c917.layers_a23c37 .sidebar_e031be:has(.privateChannels__9b518)~.chat__52833 .children_cde9af,
.app_de4237>.notice__5fd4c~.layers__1c917.layers_a23c37 .topControls_e834ab,
.app_de4237>.notice__5fd4c~.layers__1c917.layers_a23c37 .header__77c95,
.app_de4237>.notice__5fd4c~.layers__1c917.layers_a23c37 .search__07df0,
.platform-win .typeWindows_e41dab:has(~div .app_de4237>.notice__5fd4c) {
    margin-top: 36px;
}

#bd-notices {
    position: fixed;
    top: var(--titlebar-height);
    right: 0;
    z-index: 9999;
}

#bd-notices .bd-notice {
    border-radius: 8px;
    margin: 8px;
    box-shadow: var(--elevation-high);
    padding: 4px 8px;
    height: unset;
    align-items: center;
    display: flex;
}

.bd-notice-close {
    position: relative;
    width: 32px;
    height: 32px;
    background-position: 50% 55%;
    background-size: 10px 10px;
}

.bd-notice-button {
    border-radius: 4px;
    top: unset;
}
