.wrapper_fea3ef {
    background: var(--bg-overlay-4, var(--gradient-kit-50a)), var(--background-tertiary);
}

#app-mount .wrapper_fea3ef {
    margin-top: 48px;
}

#app-mount .scroller_fea3ef {
    background: none;
}
