.wrapper__216eb {
    background: var(--bg-overlay-4, var(--gradient-kit-50a)), var(--background-tertiary);
}

.platform-osx .wrapper__216eb,
.platform-linux .wrapper__216eb {
    margin-top: 0;
}

#app-mount .scroller_de945b {
    background: none;
}
