.wrapper_bc7085 foreignObject {
    mask: none;
    border-radius: 4px;
}

.folder_bc7085 {
    cursor: pointer;
    background: none;
}

.folderIconWrapper_bc7085 {
    background: none !important;
    transform: rotate(-90deg);
}

.closedFolderIconWrapper_bc7085 {
    padding: 6px;
}

.closedFolderIconWrapper_bc7085 .icon_f11207,
.expandedFolderIconWrapper_bc7085 svg {
    transform: rotate(90deg);
}

.expandedFolderBackground_bc7085 {
    height: 48px;
    border-radius: 4px;
}

.wrapper_bc7085:active {
    -webkit-transform: unset;
    transform: none;
}

[id^="folder-items-"] {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1001;
    overflow-y: auto;
    max-height: 78vh;
    margin: auto auto auto calc(72px - 7px);
    padding-top: 8px;
    border-radius: 4px;
    background: var(--background-floating);
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
}

[id^="folder-items-"]::-webkit-scrollbar {
    display: none;
}

[id^="folder-items-"] .blobContainer_a5ad63:hover {
    background: var(--background-modifier-hover);
    box-shadow:
        0 0.3px 0.9px rgba(0, 0, 0, 0.07),
        0 1.6px 3.6px rgba(0, 0, 0, 0.11);
}
