#app-mount .wrapper_f90abb.selected_f90abb .childWrapper_f90abb,
#app-mount .wrapper_f90abb:hover .childWrapper_f90abb {
    color: var(--brand-experiment);
}

#app-mount .wrapper_f90abb:hover .childWrapper_f90abb {
    background: var(--background-primary);
}

#app-mount .wrapper_f90abb:active .childWrapper_f90abb {
    background: var(--background-modifier-active);
}

.tutorialContainer_f9623d foreignObject,
.tutorialContainer_f9623d+.listItem_c96c45 foreignObject,
.tutorialContainer_c96c45 foreignObject,
.tutorialContainer_c96c45+.listItem_c96c45 foreignObject {
    mask: none;
    border-radius: 4px;
}

#app-mount .childWrapper_f90abb,
#app-mount .circleIconButton_db6521 {
    background: none;
}

.circleIconButton_db6521 {
    color: var(--text-muted);
}

#app-mount .circleIconButton_db6521:hover {
    background: var(--background-primary);
}

#app-mount .circleIconButton_db6521:active {
    background: var(--background-modifier-active);
}

#app-mount .circleIconButton_db6521.selected_db6521 {
    color: var(--brand-experiment);
}

.item_fd07a3 {
    position: absolute;
    display: block;
    width: 4px;
    border-radius: 2px;
    margin-left: 2px;
    background: var(--brand-experiment);
}

.listItem_c96c45 .wrapper_c5f96a .icon_f90abb {
    transform-origin: center;
    scale: 0.6;
    border-radius: 8px;
}

.blobContainer_a5ad63:hover {
    background: var(--background-primary);
    border-radius: 4px;
}

.blobContainer_a5ad63:active {
    background: var(--background-secondary);
    border-radius: 4px;
}
