#app-mount .wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c,
#app-mount .wrapper_d281dd:hover .childWrapper__01b9c {
    color: var(--brand-experiment);
}

#app-mount .wrapper_d281dd:hover .childWrapper__01b9c {
    background: var(--background-primary);
}

#app-mount .wrapper_d281dd:active .childWrapper__01b9c {
    background: var(--background-modifier-active);
}

.tutorialContainer__890ea foreignObject,
.tutorialContainer__890ea+.listItem_fa7b36 foreignObject,
.tutorialContainer_dc6fde foreignObject,
.tutorialContainer_dc6fde+.listItem_fa7b36 foreignObject {
    mask: none;
    border-radius: 4px;
}

#app-mount .childWrapper__01b9c,
#app-mount .circleIconButton_d8df29 {
    background: none;
}

.circleIconButton_d8df29 {
    color: var(--text-muted);
}

#app-mount .circleIconButton_d8df29:hover {
    background: var(--background-primary);
}

#app-mount .circleIconButton_d8df29:active {
    background: var(--background-modifier-active);
}

#app-mount .circleIconButton_d8df29.selected__5250e {
    color: var(--brand-experiment);
}

.item_f9d377 {
    position: absolute;
    display: block;
    width: 4px;
    border-radius: 2px;
    margin-left: 2px;
    background: var(--brand-experiment);
}

.listItem_fa7b36 .wrapper__3af0b .icon__0cbed {
    transform-origin: center;
    scale: 0.6;
    border-radius: 8px;
}

.blobContainer__5ee50:hover {
    background: var(--background-primary);
    border-radius: 4px;
}

.blobContainer__5ee50:active {
    background: var(--background-secondary);
    border-radius: 4px;
}