#app-mount .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15,
#app-mount .wrapper__8436d:hover .childWrapper_a6ce15 {
    color: var(--brand-experiment);
}

#app-mount .wrapper__8436d:hover .childWrapper_a6ce15 {
    background: var(--background-primary);
}

#app-mount .wrapper__8436d:active .childWrapper_a6ce15 {
    background: var(--background-modifier-active);
}

.tutorialContainer_b06ae6 foreignObject,
.tutorialContainer_b06ae6+.listItem__48528 foreignObject,
.tutorialContainer__6835f foreignObject,
.tutorialContainer__6835f+.listItem__48528 foreignObject {
    mask: none;
    border-radius: 4px;
}

#app-mount .childWrapper_a6ce15,
#app-mount .circleIconButton__05cf2 {
    background: none;
}

.circleIconButton__05cf2 {
    color: var(--text-muted);
}

#app-mount .circleIconButton__05cf2:hover {
    background: var(--background-primary);
}

#app-mount .circleIconButton__05cf2:active {
    background: var(--background-modifier-active);
}

#app-mount .circleIconButton__05cf2.selected_aded59 {
    color: var(--brand-experiment);
}

.item_f9d377 {
    position: absolute;
    display: block;
    width: 4px;
    border-radius: 2px;
    margin-left: 2px;
    background: var(--brand-experiment);
}

.listItem__48528 .wrapper__9916c .icon__11cf1 {
    transform-origin: center;
    scale: 0.6;
    border-radius: 8px;
}

.blobContainer_c44493:hover {
    background: var(--background-primary);
    border-radius: 4px;
}

.blobContainer_c44493:active {
    background: var(--background-secondary);
    border-radius: 4px;
}
