.applicationStore-2nk7Lo {
    background: none;
}

.applicationStore-2nk7Lo .headerBar-1dSpQr:before {
    display: none;
}

.applicationStore-2nk7Lo .scroller-29cQFV {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid var(--neutralTertiary);
    border-left: 1px solid var(--neutralTertiary);
    border-right: 1px solid var(--neutralTertiary);
    background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
}

.container-3D-8Ly {
    border-radius: 4px;
}

.card-3ie2dy {
    border-radius: 4px;
    box-shadow: var(--elevation-medium);
    padding: 16px;
}

.bigPerkCard-1uwmWV,
.smallPerkCard-2sX_-- {
    border-radius: 4px;
    box-shadow: var(--elevation-medium);
    padding: 16px;
    background: var(--background-secondary);
}