.container__5c7e7 {
    background: none;
}

#app-mount .themed_b152d4 {
    background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
}

.tabBody_b3d268:before {
    display: none;
}

.peopleColumn__51df3 {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid var(--background-tertiary);
    border-left: 1px solid var(--background-tertiary);
    border-right: 1px solid var(--background-tertiary);
    background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
    max-width: 350px;
}

.peopleListItem_d14722 {
    margin-left: 16px;
    margin-right: 0;
    padding: 4px;
    border: none;
}

.peopleListItem_d14722.active__6b8ff,
.peopleListItem_d14722:hover {
    border-radius: 4px;
    margin-left: 16px;
    margin-right: 0;
    padding: 4px;
}

.peopleListItem_d14722:not(:hover, .active__6b8ff) .actionButton__23182 {
    display: none;
}

.actionButton__23182 {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    color: var(--interactive-normal);
    background: none;
    margin-left: 4px;
}

.actionButton__23182.highlight__5b64b {
    background: none;
}

.peopleListItem_d14722 .actionButton__23182:hover {
    background: var(--background-modifier-active);
}

.actionButton__23182 .icon__7215c {
    height: 18px;
    width: 18px;
}

.userInfo__90757 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.nowPlayingColumn_f5023f {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid var(--background-tertiary);
    border-left: 1px solid var(--background-tertiary);
    border-right: 1px solid var(--background-tertiary);
    overflow: hidden;
    background: none;
    margin-left: var(--panel-spacing);
    max-width: 360px;
}

.nowPlayingColumn_f5023f .scroller__00e7e {
    padding: 0 16px;
    height: 100%;
    border-left: none;
}

.nowPlayingColumn_f5023f .header__123bf {
    margin: 0 0 16px 0;
    padding: 0 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--background-tertiary);
}

.nowPlayingColumn_f5023f .wrapper__6e669 {
    background: var(--n-yellow-canvas);
    border: none;
    box-shadow: var(--elevation-medium);
    position: relative;
    padding-top: calc(16px + 6px);
    overflow: hidden;
}

.nowPlayingColumn_f5023f .wrapper__6e669::before {
    content: '';
    width: 100%;
    height: 6px;
    background: var(--n-yellow-stroke);
    position: absolute;
    top: 0;
    left: 0;
}

#app-mount .nowPlayingColumn_f5023f .inset__0bfb3 {
    background: none;
}

.nowPlayingColumn_f5023f .section_efc22d {
    position: relative;
    padding: 12px;
    background: none;
}

.emptyCard_f82dde {
    border-radius: 4px;
    border: 1px solid var(--background-tertiary);
}

.container__0a6a9 {
    background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
    border-radius: 4px;
}

.tabBar__73938 .addFriend__80542.addFriend__80542.addFriend__80542,
.tabBar__73938 .addFriend__80542.addFriend__80542.addFriend__80542:hover {
    background: none;
    color: var(--status-positive);
}

.friendsEmpty__822fa .image__98a59 {
    width: 315px !important;
}

#add_friend-tab .header__6113c {
    padding: 0;
    border-bottom: 1px solid var(--background-tertiary);
}

#add_friend-tab .header__6113c h2 {
    border-bottom: 1px solid var(--background-tertiary);
    height: 42px;
    line-height: 42px;
    padding-left: 16px;
    text-transform: capitalize;
}

#add_friend-tab .header__6113c form {
    padding: 0 16px 16px;
}

.addFriendInputWrapper__4bf8e {
    background: none;
    border: none;
    margin-top: 8px;
    padding: 0;
    flex-direction: column;
}

.addFriendInput__568d8 {
    margin: 8px;
    padding: 0;
    width: 100%;
}

.inputText__81d8a {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.addFriendHint__6df3d {
    top: 11px;
    font-weight: 400;
}

#add_friend-tab .header_afb7fc {
    text-align: center;
}

#add_friend-tab .header_afb7fc h2 {
    font-weight: 100;
    text-transform: capitalize;
    font-size: 20px;
}

#add_friend-tab .container_a308ae {
    border-radius: unset;
    border: none;
    background: none;
    width: fit-content;
}

#add_friend-tab .icon__28d6c {
    display: none;
}

#add_friend-tab .grid__5ef55 {
    display: flex;
    justify-content: center;
}

#add_friend-tab .grid__5ef55 .container_a308ae svg {
    order: -1;
    margin-right: 8px;
    color: var(--text-link);
}

#add_friend-tab [d="m5.41667 4.2625 5.66573 5.7375-5.66573 5.7375 1.74426 1.7625 7.42237-7.5-7.42237-7.5z"] {
    scale: 1.3;
    d: path('M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z');
}

#add_friend-tab .text__21b87 {
    font-size: 14px;
    line-height: 18px;
}

#add_friend-tab .container_a308ae:hover .text__21b87 {
    color: var(--text-link);
}

.container__5c7e7 .tabBody_b3d268::after {
    content: '';
    position: absolute;
    border-radius: 4px;
    box-shadow: var(--elevation-medium);
    height: calc(100% - 32px);
    width: calc(100% - 350px - 372px - 32px);
    top: 16px;
    bottom: 0;
    right: 16px;
    background: var(--home-image) center/cover no-repeat, var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
}

@media (max-width: 1200px) {
    .container__5c7e7 .tabBody_b3d268::after {
        width: calc(100% - 350px - 32px);
    }
}

.profilePanel__12596 {
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid var(--background-tertiary);
    margin-left: var(--panel-spacing);
    margin-bottom: var(--panel-spacing);
}

.sidebar_ded4b5:has(.privateChannels__93473)~.chat__52833 .container__11d72:not(.transparent__7f3e0) {
    height: 0;
    border: 0;
    margin: 0;
}