.container_bd15da {
    background: none;
}

#app-mount .themed_b152d4 {
    background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
}

.tabBody_a90ea8:before {
    display: none;
}

.peopleColumn__0c784 {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid var(--background-tertiary);
    border-left: 1px solid var(--background-tertiary);
    border-right: 1px solid var(--background-tertiary);
    background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
    max-width: 350px;
}

.peopleListItem_dab480 {
    margin-left: 16px;
    margin-right: 0;
    padding: 4px;
    border: none;
}

.peopleListItem_dab480.active__6b8ff,
.peopleListItem_dab480:hover {
    border-radius: 4px;
    margin-left: 16px;
    margin-right: 0;
    padding: 4px;
}

.peopleListItem_dab480:not(:hover, .active__6b8ff) .actionButton__2b4bb {
    display: none;
}

.actionButton__2b4bb {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    color: var(--interactive-normal);
    background: none;
    margin-left: 4px;
}

.actionButton__2b4bb.highlight__57b9f {
    background: none;
}

.peopleListItem_dab480 .actionButton__2b4bb:hover {
    background: var(--background-modifier-active);
}

.actionButton__2b4bb .icon__4ee3f {
    height: 18px;
    width: 18px;
}

.userInfo__176d9 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.nowPlayingColumn_b025fe {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid var(--background-tertiary);
    border-left: 1px solid var(--background-tertiary);
    border-right: 1px solid var(--background-tertiary);
    overflow: hidden;
    background: none;
    margin-left: var(--panel-spacing);
    max-width: 360px;
}

.nowPlayingColumn_b025fe .scroller__7c25e {
    padding: 0 16px;
    height: 100%;
    border-left: none;
}

.nowPlayingColumn_b025fe .header_c56a27 {
    margin: 0 0 16px 0;
    padding: 0 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--background-tertiary);
}

.nowPlayingColumn_b025fe .wrapper__3c6d5 {
    background: var(--n-yellow-canvas);
    border: none;
    box-shadow: var(--elevation-medium);
    position: relative;
    padding-top: calc(16px + 6px);
    overflow: hidden;
}

.nowPlayingColumn_b025fe .wrapper__3c6d5::before {
    content: '';
    width: 100%;
    height: 6px;
    background: var(--n-yellow-stroke);
    position: absolute;
    top: 0;
    left: 0;
}

#app-mount .nowPlayingColumn_b025fe .inset__61d5b {
    background: none;
}

.nowPlayingColumn_b025fe .section__253ec {
    position: relative;
    padding: 12px;
    background: none;
}

.emptyCard__204d9 {
    border-radius: 4px;
    border: 1px solid var(--background-tertiary);
}

.container__3673d {
    background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
    border-radius: 4px;
}

.tabBar__73938 .addFriend__4c0a2.addFriend__4c0a2.addFriend__4c0a2,
.tabBar__73938 .addFriend__4c0a2.addFriend__4c0a2.addFriend__4c0a2:hover {
    background: none;
    color: var(--status-positive);
}

.friendsEmpty__38a29 .image__08515 {
    width: 315px !important;
}

#add_friend-tab .header__6ddae {
    padding: 0;
    border-bottom: 1px solid var(--background-tertiary);
}

#add_friend-tab .header__6ddae h2 {
    border-bottom: 1px solid var(--background-tertiary);
    height: 42px;
    line-height: 42px;
    padding-left: 16px;
    text-transform: capitalize;
}

#add_friend-tab .header__6ddae form {
    padding: 0 16px 16px;
}

.addFriendInputWrapper__2b30b {
    background: none;
    border: none;
    margin-top: 8px;
    padding: 0;
    flex-direction: column;
}

.addFriendInput__12af4 {
    margin: 8px;
    padding: 0;
    width: 100%;
}

.inputText__278b7 {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.addFriendHint__6eee6 {
    top: 11px;
    font-weight: 400;
}

#add_friend-tab .header__7cf1d {
    text-align: center;
}

#add_friend-tab .header__7cf1d h2 {
    font-weight: 100;
    text-transform: capitalize;
    font-size: 20px;
}

#add_friend-tab .container__048f4 {
    border-radius: unset;
    border: none;
    background: none;
    width: fit-content;
}

#add_friend-tab .icon_e26761 {
    display: none;
}

#add_friend-tab .grid__8fc4b {
    display: flex;
    justify-content: center;
}

#add_friend-tab .grid__8fc4b .container__048f4 svg {
    order: -1;
    margin-right: 8px;
    color: var(--text-link);
}

#add_friend-tab [d="m5.41667 4.2625 5.66573 5.7375-5.66573 5.7375 1.74426 1.7625 7.42237-7.5-7.42237-7.5z"] {
    scale: 1.3;
    d: path('M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z');
}

#add_friend-tab .text__32614 {
    font-size: 14px;
    line-height: 18px;
}

#add_friend-tab .container__048f4:hover .text__32614 {
    color: var(--text-link);
}

.container_bd15da .tabBody_a90ea8::after {
    content: '';
    position: absolute;
    border-radius: 4px;
    box-shadow: var(--elevation-medium);
    height: calc(100% - 32px);
    width: calc(100% - 350px - 372px - 32px);
    top: 16px;
    bottom: 0;
    right: 16px;
    background: var(--home-image) center/cover no-repeat, var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
}

@media (max-width: 1200px) {
    .container_bd15da .tabBody_a90ea8::after {
        width: calc(100% - 350px - 32px);
    }
}

.profilePanel_e2cafe {
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid var(--background-tertiary);
    margin-left: var(--panel-spacing);
    margin-bottom: var(--panel-spacing);
}

.sidebar_e031be:has(.privateChannels__9b518)~.chat__52833 .container__26baa:not(.transparent__8d0a5) {
    height: 0;
    border: 0;
    margin: 0;
}
