#app-mount .content__76dcf:has(.pageWrapper_c182d3) {
    margin-top: var(--panel-spacing);
}

.pageWrapper_c182d3 {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid var(--neutralTertiary);
    border-left: 1px solid var(--neutralTertiary);
    border-right: 1px solid var(--neutralTertiary);
}

#app-mount .pageWrapper_c182d3 {
    background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
}

#app-mount .card__86773,
#app-mount .iconMask__4092e {
    background: var(--n-gray-canvas);
}

#app-mount .card__86773 {
    transform: none;
}

#app-mount .card__86773:focus,
#app-mount .card__86773:hover {
    -webkit-box-shadow: var(--n-note-box-shadow), var(--n-preview-box-shadow-selected);
    box-shadow: var(--n-note-box-shadow), var(--n-preview-box-shadow-selected);
}

.icon__87f1f {
    color: var(--header-primary);
}

.card__86773 {
    box-shadow: var(--n-note-box-shadow);
}

.categoryItem__0608f.selectedCategoryItem__3e361 {
    color: var(--interactive-active);
}

.categoryItem__0608f.selectedCategoryItem__3e361 .itemInner_eedb2b {
    background: var(--secondarySurfaceSelected);
}

.categoryItem__0608f .avatar__6337f {
    width: 16px;
    height: 16px;
    margin-right: 12px;
}

.categoryItem__0608f .name__7afe8 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.categoryItem__0608f.selectedCategoryItem__3e361 .name__7afe8 {
    color: var(--interactive-active);
    font-weight: 600;
}

.categoryItem__0608f .wrappedLayout__24524 {
    height: auto;
    padding: 4px 8px;
}

.categoryItem__0608f.container_a48b21 {
    padding-top: 0;
    padding-bottom: 4px;
}
