@import url(https://maendisease.github.io/BetterDiscordStuff/css/SettingsSidebar.css);
/* root */
.layer_f7d46a ~ .layer_f7d46a,
.layer_f7d46a :has(~ .layer_f7d46a) {
  --settingsidebar-width: 320px;
}

/* base */
.layer_f7d46a .baseLayer__2b890.stop-animations {
  margin-left: 0;
  margin-right: var(--settingsidebar-width);
}

.baseLayer__2b890.stop-animations + .stop-animations + .layer_f7d46a :not(.stop-animations) {
  border: 1px solid var(--background-tertiary) !important;
}

.baseLayer__2b890.stop-animations + .stop-animations + .stop-animations + .layer_f7d46a :not(.stop-animations) {
  border: 1px solid var(--background-tertiary);
}

#app-mount .layer_f7d46a ~ .layer_f7d46a {
  top: var(--titlebar-height) !important;
  left: unset !important;
  width: var(--settingsidebar-width) !important;
  height: calc(100% - var(--titlebar-height)) !important;
  margin: 0 !important;
  border-radius: 0 !important;
  box-shadow: var(--elevation-medium) !important;
}

/* sidebar */
.sidebarRegionScroller__8113e {
  background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
}

.sidebarRegionScroller__8113e:not(:hover) .item__48dda.selected_a523ff {
  margin-top: 6px;
}

#app-mount .layer_f7d46a ~ .layer_f7d46a .sidebarRegionScroller__8113e {
  flex: 1 !important;
}

body #app-mount .layer_f7d46a ~ .layer_f7d46a .sidebarRegion__36437:not(:hover) .sidebar__02e8d {
  padding: 0 0 0 8px !important;
}

body #app-mount .layer_f7d46a ~ .layer_f7d46a .sidebar__02e8d {
  width: 100% !important;
}

/* contentregion */
.contentRegion__08eba {
  border-top: 1px solid var(--background-tertiary);
}

.contentColumn__5f80b,
.customColumn__0b6a6 {
  min-width: unset;
  width: 0;
}

/* close button */
#app-mount .layer_f7d46a ~ .layer_f7d46a .toolsContainer__4e6ad {
  bottom: unset !important;
  top: 11px !important;
  right: 11px !important;
  left: unset !important;
  z-index: 10 !important;
  border-radius: 4px !important;
  border: 1px solid transparent !important;
}

#app-mount .layer_f7d46a ~ .layer_f7d46a .toolsContainer__4e6ad:hover {
  background: var(--background-modifier-hover) !important;
}

#app-mount .layer_f7d46a ~ .layer_f7d46a .toolsContainer__4e6ad:active {
  background: var(--background-modifier-active) !important;
  border-color: var(--background-modifier-active-border) !important;
}

.closeButton__8177f:active {
  transform: none;
}

#app-mount .layer_f7d46a ~ .layer_f7d46a .toolsContainer__4e6ad,
#app-mount .layer_f7d46a ~ .layer_f7d46a .toolsContainer__4e6ad .tools_c0ff70,
#app-mount .layer_f7d46a ~ .layer_f7d46a .toolsContainer__4e6ad .container__3529f,
#app-mount .layer_f7d46a ~ .layer_f7d46a .toolsContainer__4e6ad .closeButton__8177f {
  position: absolute !important;
  opacity: 1 !important;
  cursor: pointer !important;
  width: 40px !important;
  height: 40px !important;
}

.closeButton__8177f:hover + .keybind_a619c1 {
  display: none;
}

#app-mount .layer_f7d46a .stop-animations:first-child::after {
  content: none !important;
}