@import url(https://maendisease.github.io/BetterDiscordStuff/css/SettingsSidebar.css);
/* root */
.layer__2efaa ~ .layer__2efaa,
.layer__2efaa :has(~ .layer__2efaa) {
  --settingsidebar-width: 320px;
}

/* base */
.layer__2efaa .baseLayer__8fda3.stop-animations {
  margin-left: 0;
  margin-right: var(--settingsidebar-width);
}

.baseLayer__8fda3.stop-animations + .stop-animations + .layer__2efaa :not(.stop-animations) {
  border: 1px solid var(--background-tertiary) !important;
}

.baseLayer__8fda3.stop-animations + .stop-animations + .stop-animations + .layer__2efaa :not(.stop-animations) {
  border: 1px solid var(--background-tertiary);
}

#app-mount .layer__2efaa ~ .layer__2efaa {
  top: var(--titlebar-height) !important;
  left: unset !important;
  width: var(--settingsidebar-width) !important;
  height: calc(100% - var(--titlebar-height)) !important;
  margin: 0 !important;
  border-radius: 0 !important;
  box-shadow: var(--elevation-medium) !important;
}

/* sidebar */
.sidebarRegionScroller__1fa7e {
  background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
}

.sidebarRegionScroller__1fa7e:not(:hover) .item__48dda.selected__5711d {
  margin-top: 6px;
}

#app-mount .layer__2efaa ~ .layer__2efaa .sidebarRegionScroller__1fa7e {
  flex: 1 !important;
}

body #app-mount .layer__2efaa ~ .layer__2efaa .sidebarRegion__60457:not(:hover) .sidebar__9e3e2 {
  padding: 0 0 0 8px !important;
}

body #app-mount .layer__2efaa ~ .layer__2efaa .sidebar__9e3e2 {
  width: 100% !important;
}

/* contentregion */
.contentRegion__0bec1 {
  border-top: 1px solid var(--background-tertiary);
}

.contentColumn_dc7d36,
.customColumn_e22a6e {
  min-width: unset;
  width: 0;
}

/* close button */
#app-mount .layer__2efaa ~ .layer__2efaa .toolsContainer_f5d55d {
  bottom: unset !important;
  top: 11px !important;
  right: 11px !important;
  left: unset !important;
  z-index: 10 !important;
  border-radius: 4px !important;
  border: 1px solid transparent !important;
}

#app-mount .layer__2efaa ~ .layer__2efaa .toolsContainer_f5d55d:hover {
  background: var(--background-modifier-hover) !important;
}

#app-mount .layer__2efaa ~ .layer__2efaa .toolsContainer_f5d55d:active {
  background: var(--background-modifier-active) !important;
  border-color: var(--background-modifier-active-border) !important;
}

.closeButton__34341:active {
  transform: none;
}

#app-mount .layer__2efaa ~ .layer__2efaa .toolsContainer_f5d55d,
#app-mount .layer__2efaa ~ .layer__2efaa .toolsContainer_f5d55d .tools_c0ff70,
#app-mount .layer__2efaa ~ .layer__2efaa .toolsContainer_f5d55d .container_bb0c52,
#app-mount .layer__2efaa ~ .layer__2efaa .toolsContainer_f5d55d .closeButton__34341 {
  position: absolute !important;
  opacity: 1 !important;
  cursor: pointer !important;
  width: 40px !important;
  height: 40px !important;
}

.closeButton__34341:hover + .keybind__57645 {
  display: none;
}

#app-mount .layer__2efaa .stop-animations:first-child::after {
  content: none !important;
}