.theme-dark {
    --background-primary: hsl(0, 0%, 20%);
    --background-secondary: hsl(0, 0%, 13%);
    --background-tertiary: hsl(0, 0%, 4%);
    --background-floating: hsl(0, 0%, 16%);

    --background-modifier-hover: hsla(0, 0%, 0%, 38%);
    --background-modifier-active: hsla(0, 0%, 0%, 10%);
    --background-modifier-selected: hsla(0, 0%, 0%, 32%);

    --background-modifier-hover-border: hsla(0, 0%, 50%, 13%);
    --background-modifier-active-border: hsla(0, 0%, 100%, 90%);
    --background-modifier-selected-border: hsla(0, 0%, 100%, 98%);

    --scroller-color: hsl(0, 0%, 78%);

    --n-yellow-canvas: hsl(51, 22%, 23%);
    --n-yellow-stroke: hsl(50, 97%, 46%);
    --n-green-canvas: hsl(113, 22%, 23%);
    --n-green-stroke: hsl(113, 43%, 58%);
    --n-blue-canvas: hsl(196, 22%, 23%);
    --n-blue-stroke: hsl(196, 57%, 59%);
    --n-gray-canvas: hsl(0, 0%, 23%);
    --n-gray-stroke: hsl(0, 0%, 30%);
    --n-preview-box-shadow-selected: 0 0 0 1px hsl(0, 0%, 84%);

    --neutralDark: hsl(0, 0%, 100%);
    --neutralTertiary: hsl(0, 0%, 84%);
    --themeLight: hsl(var(--accent-hue), 84%, 40%);
    --themeDark: hsl(var(--accent-hue), 92%, 85%);
    --themeDarkAlt: hsl(var(--accent-hue), 92%, 85%);
    --secondarySurfaceSelected: hsl(var(--accent-hue), 76%, 16%);

    --search-popout-option-fade-hover: linear-gradient(90deg, transparent, hsl(0, 0%, 10%) 50%);
}