@import url(https://maendisease.github.io/BetterDiscordStuff/css/ProfileBannerSkins.css);
@import url(https://maendisease.github.io/BetterDiscordStuff/css/bearableInbox.css);
@import url(https://maendisease.github.io/BetterDiscordStuff/css/bettterInvites.css);

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);
@import url(https://stickfab.github.io/pc-fluenticons/src/fluenticons-base.css);
@import url(https://stickfab.github.io/pc-fluenticons/src/fluenticons-context.css);
@import url(https://nyri4.github.io/Discolored/main.css);