@import url(https://maendisease.github.io/BetterDiscordStuff/css/SettingsSidebar.css);

/* root */
.layer_d4b6c5 ~.layer_d4b6c5 ,
.layer_d4b6c5 :has(~.layer_d4b6c5 ) {
    --settingsidebar-width: 320px;
}

/* base */
.layer_d4b6c5 .baseLayer_d4b6c5.stop-animations {
    margin-left: 0;
    margin-right: var(--settingsidebar-width);
}

.baseLayer_d4b6c5.stop-animations+.stop-animations+.layer_d4b6c5 :not(.stop-animations) {
    border: 1px solid var(--background-tertiary) !important;
}

.baseLayer_d4b6c5.stop-animations+.stop-animations+.stop-animations+.layer_d4b6c5 :not(.stop-animations) {
    border: 1px solid var(--background-tertiary);
}

#app-mount .layer_d4b6c5 ~.layer_d4b6c5  {
    top: var(--titlebar-height) !important;
    left: unset !important;
    width: var(--settingsidebar-width) !important;
    height: calc(100% - var(--titlebar-height)) !important;
    margin: 0 !important;
    border-radius: 0 !important;
    box-shadow: var(--elevation-medium) !important;
}

/* sidebar */
.sidebarRegionScroller_c25c6d {
    background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
}

.sidebarRegionScroller_c25c6d:not(:hover) .item_a0.selected_a0 {
    margin-top: 6px;
}

#app-mount .layer_d4b6c5 ~.layer_d4b6c5  .sidebarRegionScroller_c25c6d {
    flex: 1 !important;
}

body #app-mount .layer_d4b6c5 ~.layer_d4b6c5  .sidebarRegion_c25c6d:not(:hover) .sidebar_c25c6d {
    padding: 0 0 0 8px !important;
}

body #app-mount .layer_d4b6c5 ~.layer_d4b6c5  .sidebar_c25c6d {
    width: 100% !important;
}

/* contentregion */
.contentRegion_c25c6d {
    border-top: 1px solid var(--background-tertiary);
}

.contentColumn_c25c6d,
.customColumn_c25c6d {
    min-width: unset;
    width: 0;
}

/* close button */
#app-mount .layer_d4b6c5 ~.layer_d4b6c5  .toolsContainer_c25c6d {
    bottom: unset !important;
    top: 11px !important;
    right: 11px !important;
    left: unset !important;
    z-index: 10 !important;
    border-radius: 4px !important;
    border: 1px solid transparent !important;
}

#app-mount .layer_d4b6c5 ~.layer_d4b6c5  .toolsContainer_c25c6d:hover {
    background: var(--background-modifier-hover) !important;
}

#app-mount .layer_d4b6c5 ~.layer_d4b6c5  .toolsContainer_c25c6d:active {
    background: var(--background-modifier-active) !important;
    border-color: var(--background-modifier-active-border) !important;
}

.closeButton_df5532:active {
    -webkit-transform: none;
    transform: none;
}

#app-mount .layer_d4b6c5 ~.layer_d4b6c5  .toolsContainer_c25c6d,
#app-mount .layer_d4b6c5 ~.layer_d4b6c5  .toolsContainer_c25c6d .tools_c25c6d,
#app-mount .layer_d4b6c5 ~.layer_d4b6c5  .toolsContainer_c25c6d .container_df5532,
#app-mount .layer_d4b6c5 ~.layer_d4b6c5  .toolsContainer_c25c6d .closeButton_df5532 {
    position: absolute !important;
    opacity: 1 !important;
    cursor: pointer !important;
    width: 40px !important;
    height: 40px !important;
}

.closeButton_df5532:hover+.keybind_df5532 {
    display: none;
}

#app-mount .layer_d4b6c5 .stop-animations:first-child::after {
    content: none !important;
}
