@import url(https://maendisease.github.io/BetterDiscordStuff/css/SettingsSidebar.css);

/* root */
.layer-86YKbF~.layer-86YKbF,
.layer-86YKbF:has(~.layer-86YKbF) {
    --settingsidebar-width: 320px;
}

/* base */
.layer-86YKbF.baseLayer-W6S8cY.stop-animations {
    margin-left: 0;
    margin-right: var(--settingsidebar-width);
}

.baseLayer-W6S8cY.stop-animations+.stop-animations+.layer-86YKbF:not(.stop-animations) {
    border: 1px solid var(--background-tertiary) !important;
}

.baseLayer-W6S8cY.stop-animations+.stop-animations+.stop-animations+.layer-86YKbF:not(.stop-animations) {
    border: 1px solid var(--background-tertiary);
}

#app-mount .layer-86YKbF~.layer-86YKbF {
    top: var(--titlebar-height) !important;
    left: unset !important;
    width: var(--settingsidebar-width) !important;
    height: calc(100% - var(--titlebar-height)) !important;
    margin: 0 !important;
    border-radius: 0 !important;
    box-shadow: var(--elevation-medium) !important;
}

/* sidebar */
.sidebarRegionScroller-FXiQOh {
    background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
}

.sidebarRegionScroller-FXiQOh:not(:hover) .item-2GWPIy.selected-1sf9UK {
    margin-top: 6px;
}

#app-mount .layer-86YKbF~.layer-86YKbF .sidebarRegionScroller-FXiQOh {
    flex: 1 !important;
}

body #app-mount .layer-86YKbF~.layer-86YKbF .sidebarRegion-1VBisG:not(:hover) .sidebar-nqHbhN {
    padding: 0 0 0 8px !important;
}

body #app-mount .layer-86YKbF~.layer-86YKbF .sidebar-nqHbhN {
    width: 100% !important;
}

/* contentregion */
.contentRegion-3HkfJJ {
    border-top: 1px solid var(--background-tertiary);
}

.contentColumn-1C7as6,
.customColumn-2n-oKU {
    min-width: unset;
    width: 0;
}

/* close button */
#app-mount .layer-86YKbF~.layer-86YKbF .toolsContainer-25FL6V {
    bottom: unset !important;
    top: 11px !important;
    right: 11px !important;
    left: unset !important;
    z-index: 10 !important;
    border-radius: 4px !important;
    border: 1px solid transparent !important;
}

#app-mount .layer-86YKbF~.layer-86YKbF .toolsContainer-25FL6V:hover {
    background: var(--background-modifier-hover) !important;
}

#app-mount .layer-86YKbF~.layer-86YKbF .toolsContainer-25FL6V:active {
    background: var(--background-modifier-active) !important;
    border-color: var(--background-modifier-active-border) !important;
}

.closeButton-PCZcma:active {
    -webkit-transform: none;
    transform: none;
}

#app-mount .layer-86YKbF~.layer-86YKbF .toolsContainer-25FL6V,
#app-mount .layer-86YKbF~.layer-86YKbF .toolsContainer-25FL6V .tools-kIrEGr,
#app-mount .layer-86YKbF~.layer-86YKbF .toolsContainer-25FL6V .container-O54IuJ,
#app-mount .layer-86YKbF~.layer-86YKbF .toolsContainer-25FL6V .closeButton-PCZcma {
    position: absolute !important;
    opacity: 1 !important;
    cursor: pointer !important;
    width: 40px !important;
    height: 40px !important;
}

.closeButton-PCZcma:hover+.keybind-13vtq8 {
    display: none;
}

#app-mount .layer-86YKbF.stop-animations:first-child::after {
    content: none !important;
}