.sizeMedium-2oH5mg {
    min-width: 80px;
    height: 32px;
    min-height: 32px;
    font-weight: 600;
}

.flex-2S1XBF.footer-IubaaS {
    gap: 8px;
}

.buttons-1TBWBN {
    gap: 8px;
    margin-bottom: 16px;
}

.horizontal-112GEH>.flex-2S1XBF, .horizontal-112GEH>.flexChild-3PzYmX {
    margin-left: 0;
    margin-right: 0;
}

.horizontal-112GEH {
    gap: 8px;
}

.disableButton-3BR0Vj {
    margin-right: 8px;
}

.button-1EGGcP.buttonColor-3bP3fX,
.button-1EGGcP .buttonColor-3bP3fX {
    background: none;
    color: var(--interactive-normal);
}

.lookFilled-1H2Jvj.colorBrand-2M3O3N:hover {
    background: var(--brand-experiment-680);
    color: var(--white-500);
}

#app-mount .lookLink-13iF2K.colorPrimary-2-Lusz {
    border: 1px solid var(--neutralTertiary);
    color: var(--neutralDark);
}

.button-12Fmur.enabled-9OeuTA:hover {
    color: var(--interactive-hover);
    background: var(--background-modifier-hover);
}

.button-12Fmur.enabled-9OeuTA:active {
    color: var(--interactive-active);
    background: var(--background-modifier-active);
}

#app-mount .lookLink-13iF2K.colorPrimary-2-Lusz:hover .contents-3NembX {
    --button--underline-color: transparent;
}

#app-mount .lookLink-13iF2K.colorPrimary-2-Lusz:hover {
    background: var(--background-modifier-hover);
}

#app-mount .lookLink-13iF2K.colorPrimary-2-Lusz:active {
    background: var(--background-modifier-active);
}

.lookFilled-1H2Jvj.colorPrimary-2-Lusz {
    border: 1px solid var(--neutralTertiary);
    color: var(--neutralDark);
    background: none;
}

.lookFilled-1H2Jvj.colorPrimary-2-Lusz:hover {
    background: var(--background-modifier-hover);
}

.lookFilled-1H2Jvj.colorPrimary-2-Lusz:active {
    background: var(--background-modifier-active);
}

.lookFilled-1H2Jvj,
.lookInverted-2GrLaB {
    transition: none;
}

.removeButton-v6eolJ {
    margin-right: 16px;
}

.removeButton-1xB_Ez {
    margin-left: 16px;
}