.sizeMedium_c6fa98 {
    min-width: 80px;
    height: 32px;
    min-height: 32px;
    font-weight: 600;
}

.flex_f5fbb7.footer__89240 {
    gap: 8px;
}

.buttons-1TBWBN {
    gap: 8px;
    margin-bottom: 16px;
}

.horizontal__992f6>.flex_f5fbb7, .horizontal__992f6>.flexChild__6e093 {
    margin-left: 0;
    margin-right: 0;
}

.horizontal__992f6 {
    gap: 8px;
}

.disableButton__61514 {
    margin-right: 8px;
}

.button__66e8c.buttonColor_a6eb73,
.button__66e8c .buttonColor_a6eb73 {
    background: none;
    color: var(--interactive-normal);
}

.lookFilled__19298.colorBrand_b2253e:hover {
    background: var(--brand-experiment-680);
    color: var(--white-500);
}

#app-mount .lookLink__93965.colorPrimary__6ed40 {
    border: 1px solid var(--neutralTertiary);
    color: var(--neutralDark);
}

.button__4f306.enabled__470f0:hover {
    color: var(--interactive-hover);
    background: var(--background-modifier-hover);
}

.button__4f306.enabled__470f0:active {
    color: var(--interactive-active);
    background: var(--background-modifier-active);
}

#app-mount .lookLink__93965.colorPrimary__6ed40:hover .contents_fb6220 {
    --button--underline-color: transparent;
}

#app-mount .lookLink__93965.colorPrimary__6ed40:hover {
    background: var(--background-modifier-hover);
}

#app-mount .lookLink__93965.colorPrimary__6ed40:active {
    background: var(--background-modifier-active);
}

.lookFilled__19298.colorPrimary__6ed40 {
    border: 1px solid var(--neutralTertiary);
    color: var(--neutralDark);
    background: none;
}

.lookFilled__19298.colorPrimary__6ed40:hover {
    background: var(--background-modifier-hover);
}

.lookFilled__19298.colorPrimary__6ed40:active {
    background: var(--background-modifier-active);
}

.lookFilled__19298,
.lookInverted_ee4261 {
    transition: none;
}

.removeButton__731bd {
    margin-right: 16px;
}

.removeButton__5c1fd {
    margin-left: 16px;
}