.sizeMedium__60c12 {
    min-width: 80px;
    height: 32px;
    min-height: 32px;
    font-weight: 600;
}

.flex_f18b02.footer_e0b400 {
    gap: 8px;
}

.buttons-1TBWBN {
    gap: 8px;
    margin-bottom: 16px;
}

.horizontal__4848b>.flex_f18b02, .horizontal__4848b>.flexChild__3da10 {
    margin-left: 0;
    margin-right: 0;
}

.horizontal__4848b {
    gap: 8px;
}

.disableButton__09342 {
    margin-right: 8px;
}

.button_b82d53.buttonColor__7bad9,
.button_b82d53 .buttonColor__7bad9 {
    background: none;
    color: var(--interactive-normal);
}

.lookFilled__950dd.colorBrand__27d57:hover {
    background: var(--brand-experiment-680);
    color: var(--white-500);
}

#app-mount .lookLink_a2da25.colorPrimary_ebe632 {
    border: 1px solid var(--neutralTertiary);
    color: var(--neutralDark);
}

.button_ae40a4.enabled__214db:hover {
    color: var(--interactive-hover);
    background: var(--background-modifier-hover);
}

.button_ae40a4.enabled__214db:active {
    color: var(--interactive-active);
    background: var(--background-modifier-active);
}

#app-mount .lookLink_a2da25.colorPrimary_ebe632:hover .contents__322f4 {
    --button--underline-color: transparent;
}

#app-mount .lookLink_a2da25.colorPrimary_ebe632:hover {
    background: var(--background-modifier-hover);
}

#app-mount .lookLink_a2da25.colorPrimary_ebe632:active {
    background: var(--background-modifier-active);
}

.lookFilled__950dd.colorPrimary_ebe632 {
    border: 1px solid var(--neutralTertiary);
    color: var(--neutralDark);
    background: none;
}

.lookFilled__950dd.colorPrimary_ebe632:hover {
    background: var(--background-modifier-hover);
}

.lookFilled__950dd.colorPrimary_ebe632:active {
    background: var(--background-modifier-active);
}

.lookFilled__950dd,
.lookInverted_a299dc {
    transition: none;
}

.removeButton_dcb1e3 {
    margin-right: 16px;
}

.removeButton__8fc63 {
    margin-left: 16px;
}
