#app-mount .container__871ba {
    background: transparent !important;
    width: 40px;
    height: 20px;
}

#app-mount .container__871ba svg {
    display: none;
}

#app-mount .container__871ba input {
    display: inline-flex;
    align-items: center;
    opacity: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid var(--text-muted);
    width: 40px;
    height: 20px;
    border-radius: 20px;
    margin: 0;
    padding: 0 4px;
    transition: all 0.1s ease 0s;
}

#app-mount .container__871ba input:hover {
    border: 1px solid var(--interactive-active);
}

#app-mount .container__871ba input::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 7px;
    display: block;
    background: var(--text-muted);
    transition: all 0.1s ease 0s;
}

#app-mount .container__871ba input:hover::before {
    background: var(--neutralDark);
}

#app-mount .container__871ba input:active::before {
    width: 18px;
}

#app-mount .container__871ba input:checked {
    background: var(--brand-experiment);
    border-color: var(--brand-experiment);
}

#app-mount .container__871ba input:checked::before {
    background: white;
    transform: translateX(18px);
}

#app-mount .container__871ba input:checked:hover {
    background: var(--brand-experiment-680);
    border-color: var(--brand-experiment-680);
}

#app-mount .container__871ba input:checked:active::before {
    transform: translateX(13px);
}

#app-mount .checkbox_c7f690 {
    border-color: var(--text-muted);
}

.box__66058 {
    border-radius: 4px;
}

.checkboxWrapper__02583:hover .checkbox_c7f690:not(.checked__24ad6) svg path {
    fill: var(--text-muted);
}

.checkboxWrapper__02583:hover .checkbox_c7f690.checked__24ad6 {
    background: var(--brand-experiment-680) !important;
    border-color: var(--brand-experiment-680) !important;
}

.checkbox_c7f690.checked__24ad6 {
    background: var(--brand-experiment) !important;
    border-color: var(--brand-experiment) !important;
}