#app-mount .container-1QtPKm {
    background: transparent !important;
    width: 40px;
    height: 20px;
}

#app-mount .container-1QtPKm svg {
    display: none;
}

#app-mount .container-1QtPKm input {
    display: inline-flex;
    align-items: center;
    opacity: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid var(--text-muted);
    width: 40px;
    height: 20px;
    border-radius: 20px;
    margin: 0;
    padding: 0 4px;
    transition: all 0.1s ease 0s;
}

#app-mount .container-1QtPKm input:hover {
    border: 1px solid var(--interactive-active);
}

#app-mount .container-1QtPKm input::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 7px;
    display: block;
    background: var(--text-muted);
    transition: all 0.1s ease 0s;
}

#app-mount .container-1QtPKm input:hover::before {
    background: var(--neutralDark);
}

#app-mount .container-1QtPKm input:active::before {
    width: 18px;
}

#app-mount .container-1QtPKm input:checked {
    background: var(--brand-experiment);
    border-color: var(--brand-experiment);
}

#app-mount .container-1QtPKm input:checked::before {
    background: white;
    transform: translateX(18px);
}

#app-mount .container-1QtPKm input:checked:hover {
    background: var(--brand-experiment-680);
    border-color: var(--brand-experiment-680);
}

#app-mount .container-1QtPKm input:checked:active::before {
    transform: translateX(13px);
}

#app-mount .checkbox-1LuCGM {
    border-color: var(--text-muted);
}

.box-qwm0Q_ {
    border-radius: 4px;
}

.checkboxWrapper-3zdYym:hover .checkbox-1LuCGM:not(.checked-22NTbO) svg path {
    fill: var(--text-muted);
}

.checkboxWrapper-3zdYym:hover .checkbox-1LuCGM.checked-22NTbO {
    background: var(--brand-experiment-680) !important;
    border-color: var(--brand-experiment-680) !important;
}

.checkbox-1LuCGM.checked-22NTbO {
    background: var(--brand-experiment) !important;
    border-color: var(--brand-experiment) !important;
}