#app-mount .container_cebd1c {
    background: transparent !important;
    width: 40px;
    height: 20px;
}

#app-mount .container_cebd1c svg {
    display: none;
}

#app-mount .container_cebd1c input {
    display: inline-flex;
    align-items: center;
    opacity: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid var(--text-muted);
    width: 40px;
    height: 20px;
    border-radius: 20px;
    margin: 0;
    padding: 0 4px;
    transition: all 0.1s ease 0s;
}

#app-mount .container_cebd1c input:hover {
    border: 1px solid var(--interactive-active);
}

#app-mount .container_cebd1c input::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 7px;
    display: block;
    background: var(--text-muted);
    transition: all 0.1s ease 0s;
}

#app-mount .container_cebd1c input:hover::before {
    background: var(--neutralDark);
}

#app-mount .container_cebd1c input:active::before {
    width: 18px;
}

#app-mount .container_cebd1c input:checked {
    background: var(--brand-experiment);
    border-color: var(--brand-experiment);
}

#app-mount .container_cebd1c input:checked::before {
    background: white;
    transform: translateX(18px);
}

#app-mount .container_cebd1c input:checked:hover {
    background: var(--brand-experiment-680);
    border-color: var(--brand-experiment-680);
}

#app-mount .container_cebd1c input:checked:active::before {
    transform: translateX(13px);
}

#app-mount .checkbox_f6cde8 {
    border-color: var(--text-muted);
}

.box_f6cde8 {
    border-radius: 4px;
}

.checkboxWrapper_f6cde8:hover .checkbox_f6cde8:not(.checked_f6cde8) svg path {
    fill: var(--text-muted);
}

.checkboxWrapper_f6cde8:hover .checkbox_f6cde8.checked_f6cde8 {
    background: var(--brand-experiment-680) !important;
    border-color: var(--brand-experiment-680) !important;
}

.checkbox_f6cde8.checked_f6cde8 {
    background: var(--brand-experiment) !important;
    border-color: var(--brand-experiment) !important;
}
