.lookFilled-GPyucw.select-Zz0IcO {
    border-color: var(--neutralTertiary);
    font-size: 14px;
}

.popout-15UxD6 {
    border: none;
    background: var(--background-primary);
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
    font-size: 14px;
}

.option-Uc12mm {
    justify-content: flex-start;
    display: flex;
}

.selectedIcon-122rMx {
    order: -1;
    margin-right: 4px;
}

.option-Uc12mm[aria-selected="false"] {
    padding-left: 36px;
}