.lookFilled__3dba3.select__0eb48 {
    border-color: var(--neutralTertiary);
    font-size: 14px;
}

.popout_a6e77f {
    border: none;
    background: var(--background-primary);
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
    font-size: 14px;
}

.option_be8b2e {
    justify-content: flex-start;
    display: flex;
}

.selectedIcon__4b0ba {
    order: -1;
    margin-right: 4px;
}

.option_be8b2e[aria-selected="false"] {
    padding-left: 36px;
}