.lookFilled__9c1ef.select_fe2671 {
    border-color: var(--neutralTertiary);
    font-size: 14px;
}

.popout_a6e77f {
    border: none;
    background: var(--background-primary);
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
    font-size: 14px;
}

.option_eb83e4 {
    justify-content: flex-start;
    display: flex;
}

.selectedIcon_e9ecc2 {
    order: -1;
    margin-right: 4px;
}

.option_eb83e4[aria-selected="false"] {
    padding-left: 36px;
}
