.labelRow_ed1d57 label {
    font-size: 14px;
    line-height: 20px;
}

.labelRow_ed1d57 .control_ed1d57 {
    order: -1;
    margin-right: 8px;
}

.dependentSetting__5c861 {
    padding-left: 0;
}

.radioBar_eb92a8 {
    border: none;
}

.radioBar_eb92a8[style*="--radio-bar-accent-color"]::before {
    content: '';
    display: flex;
    position: absolute;
    height: 32px;
    width: 4px;
    border-radius: 4px;
    left: -12px;
    background: var(--radio-bar-accent-color);
}

#app-mount [role=radiogroup] .item_eb92a8 {
    background: transparent;
    margin: 0;
    border-radius: 0;
}

#app-mount [role=radiogroup] .item_eb92a8 .radioBar_eb92a8 {
    padding: 0 !important;
    margin: 16px 0;
}

#app-mount [role=radiogroup] .item_eb92a8:hover {
    color: var(--interactive-hover);
}

#app-mount [role=radiogroup] .item_eb92a8:active {
    color: var(--interactive-active);
}

#app-mount [role=radiogroup] .item_eb92a8[aria-checked=true] {
    color: var(--header-primary);
}

#app-mount [role=radiogroup] .item_eb92a8[aria-checked=true] .radioBar_eb92a8>div:first-child {
    border-color: var(--brand-experiment);
}

#app-mount [role=radiogroup] .item_eb92a8[aria-checked=true] .radioBar_eb92a8>div:first-child::before {
    background: var(--brand-experiment);
}

#app-mount [role=radiogroup] .radioBar_eb92a8>div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    border-radius: 50%;
    border: 1px solid var(--text-muted);
}

#app-mount [role=radiogroup] .radioBar_eb92a8>div:first-child::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: all 0.1s ease 0s;
}

#app-mount [role=radiogroup] .radioBar_eb92a8:hover>div:first-child::before {
    background: var(--text-muted);
}

#app-mount [role=radiogroup] .radioBar_eb92a8 svg {
    display: none;
}
