#app-mount [role=slider] .bar_e58961 {
    height: 4px;
}

#app-mount .bar_e58961 {
    background: var(--text-muted);
}


#app-mount [role=slider] .barFill__1f56b {
    background: var(--brand-experiment);
}

#app-mount [role=slider] .track_b31f5a {
    left: 10px;
}

#app-mount [role=slider] .grabber_e3daf3 {
    border: 2px solid var(--text-muted);
    margin-top: 0;
    background: var(--background-primary);
    box-shadow: var(--elevation-medium);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transform: translateY(-50%);
    margin-left: -8px;
    margin-top: -2px;
}

#app-mount [role=slider] .grabber_e3daf3:hover {
    border-color: var(--brand-experiment);
    transition: border-color 0.1s ease 0s;
}

#app-mount [role=slider].mini_d6d84c .grabber_e3daf3 {
    width: 12px;
    height: 12px;
    top: 100%;
}
