.searchBar_ff8800 {
    margin: 16px 16px 0 16px;
    background: var(--background-secondary);
    border: 1px solid var(--neutralTertiary);
}

.searchBar_ff8800 .inner__999f6 {
    padding: 0;
}

.search__07df0 {
    margin: 0;
    position: fixed;
    top: 8px;
    left: 320px;
}

.searchBar_e0c60b {
    height: 32px;
    min-width: 350px;
    flex: 1 1 350px;
    background: var(--brand-experiment-200);
}

.theme-dark .searchBar_e0c60b {
    background: var(--brand-experiment-700);
}

.focused_ddee54 .searchBar_e0c60b,
.open_d3ab4e .searchBar_e0c60b {
    max-width: 928px;
    background: var(--background-primary);
    width: unset;
}

.searchBar_e0c60b .icon__46425 {
    width: 32px;
    height: 32px;
    transform: scaleX(-1);
    order: -1;
}

.searchBar_e0c60b .icon__46425 .iconContainer__8fa9c {
    height: 20px;
    width: 20px;
}

.search_ac353c .DraftEditor-root {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    padding: 6px 0;
}

.search_ac353c .DraftEditor-root .public-DraftEditorPlaceholder-root {
    color: var(--brand-experiment-600);
}

.theme-dark .search_ac353c .DraftEditor-root .public-DraftEditorPlaceholder-root,
.theme-dark .searchBar_e0c60b .icon_f50f05 {
    color: var(--brand-experiment-130);
}

.searchBar_e4ea2a {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input__848cd {
    padding: 0 12px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid var(--neutralTertiary);
    height: 52px;
    line-height: 52px;
    color: var(--text-normal);
    background: var(--background-secondary);
}

.search__4a09e {
    border-radius: 4px;
}