.searchBar_e0840f {
    margin: 16px 16px 0 16px;
    background: var(--background-secondary);
    border: 1px solid var(--neutralTertiary);
}

.searchBar_e0840f .inner__999f6 {
    padding: 0;
}

.search_ff5f90 {
    margin: 0;
    position: fixed;
    top: 8px;
    left: 320px;
}

.searchBar_a46bef {
    height: 32px;
    min-width: 350px;
    flex: 1 1 350px;
    background: var(--brand-experiment-200);
}

.theme-dark .searchBar_a46bef {
    background: var(--brand-experiment-700);
}

.focused_a46bef .searchBar_a46bef,
.open_a46bef .searchBar_a46bef {
    max-width: 928px;
    background: var(--background-primary);
    width: unset;
}

.searchBar_a46bef .icon_a46bef {
    width: 32px;
    height: 32px;
    transform: scaleX(-1);
    order: -1;
}

.searchBar_a46bef .icon_a46bef .iconContainer_effbe2 {
    height: 20px;
    width: 20px;
}

.search_a46bef .DraftEditor-root {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    padding: 6px 0;
}

.search_a46bef .DraftEditor-root .public-DraftEditorPlaceholder-root {
    color: var(--brand-experiment-600);
}

.theme-dark .search_a46bef .DraftEditor-root .public-DraftEditorPlaceholder-root,
.theme-dark .searchBar_a46bef .icon_effbe2 {
    color: var(--brand-experiment-130);
}

.searchBar_f0963d {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input_f4e139 {
    padding: 0 12px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid var(--neutralTertiary);
    height: 52px;
    line-height: 52px;
    color: var(--text-normal);
    background: var(--background-secondary);
}

.search_c2efea {
    border-radius: 4px;
}
