#app-mount [class*="tab"i] .item__48dda {
    display: flex;
    border-radius: 4px;
    overflow: visible;
    height: 32px;
    margin: 0;
    padding: 2px 10px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    border: none;
}

#app-mount [class*="tab"i] .item__48dda.selected__5711d {
    background: none;
}

#app-mount [class*="tab"i] .item__48dda.selected__5711d {
    font-weight: 600;
}

[class*="tab"i] .item__48dda::after {
    position: absolute;
    content: '';
    background: none;
    height: 3px;
    width: 50%;
    bottom: 0;
    transition: width 0.3s ease;
}

[class*="tab"i] .item__48dda.selected__5711d::after {
    background: var(--brand-experiment);
}

[class*="tab"i] .item__48dda.selected__5711d:hover::after {
    width: 90%;
}

[class*="tab"i] .item__48dda:not(.selected__5711d, .disabled__85bca):hover {
    background: var(--background-modifier-hover);
}

[class*="tab"i] .item__48dda:not(.selected__5711d, .disabled__85bca):active {
    background: var(--background-modifier-active);
}

.input_d266e7:not(textarea) {
    border-radius: 4px;
    background: var(--background-secondary);
    border: 1px solid var(--neutralTertiary);
}

#app-mount .bioTextArea_a108c9 {
    background: var(--background-secondary);
    border: 1px solid var(--neutralTertiary);
}