.backdrop__7e89b.withLayer__1fe9d {
    opacity: 0.4 !important;
}

#app-mount .root-2uUafN {
    -webkit-box-shadow: var(--elevation-modal);
    box-shadow: var(--elevation-modal) !important;
    border-radius: 8px;
}

#app-mount .root_a28985 {
    -webkit-box-shadow: var(--elevation-modal);
    box-shadow: var(--elevation-modal);
    border-radius: 8px;
}


.footer__89240,
.header__6d5ea {
    padding: 24px;
}

.footer__89240 {
    border-radius: 0 0 8px 8px;
    background: none;
}

#app-mount .footerSeparator__57d95 {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.content__764ce {
    border-radius: 8px 8px 0 0;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 0;
}

.text-md-medium_b12de1,
.text-md-normal__6a4eb {
    font-size: 14px;
    line-height: 1.5;
}

.spacing__95897 {
    margin-bottom: 24px;
}