.backdrop__1a911.withLayer__29ace {
    opacity: 0.4 !important;
}

#app-mount .root-2uUafN {
    -webkit-box-shadow: var(--elevation-modal);
    box-shadow: var(--elevation-modal) !important;
    border-radius: 8px;
}

#app-mount .root_a28985 {
    -webkit-box-shadow: var(--elevation-modal);
    box-shadow: var(--elevation-modal);
    border-radius: 8px;
}


.footer_e0b400,
.header__5e5a6 {
    padding: 24px;
}

.footer_e0b400 {
    border-radius: 0 0 8px 8px;
    background: none;
}

#app-mount .footerSeparator__2af8d {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.content_b28aab {
    border-radius: 8px 8px 0 0;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 0;
}

.text-md-medium_b12de1,
.text-md-normal__6a4eb {
    font-size: 14px;
    line-height: 1.5;
}

.spacing__0f51a {
    margin-bottom: 24px;
}