.backdrop-2ByYRN.withLayer-2VVmpp {
    opacity: 0.4 !important;
}

#app-mount .root-2uUafN {
    -webkit-box-shadow: var(--elevation-modal);
    box-shadow: var(--elevation-modal) !important;
    border-radius: 8px;
}

#app-mount .root-1CAIjD {
    -webkit-box-shadow: var(--elevation-modal);
    box-shadow: var(--elevation-modal);
    border-radius: 8px;
}


.footer-IubaaS,
.header-1ffhsl {
    padding: 24px;
}

.footer-IubaaS {
    border-radius: 0 0 8px 8px;
    background: none;
}

#app-mount .footerSeparator-3U8YsT {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.content-1OG56Q {
    border-radius: 8px 8px 0 0;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 0;
}

.text-md-medium-2n7Vn5,
.text-md-normal-2rFCH3 {
    font-size: 14px;
    line-height: 1.5;
}

.spacing-2kYqCu {
    margin-bottom: 24px;
}