.keyboardShortcutList-3VFAYS .keybindGroup-39HP2U .keybindDescription-oXh6w_ {
    text-transform: capitalize;
}

.modalTitle-2skSKy {
    margin: 0 0 5px;
    padding: 20px 20px 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
}

.modalSubtitle-2lx7qk {
    padding: 0 20px 20px;
    font-size: 14px;
    line-height: 20px;
}

.ddrArrows-24s05s {
    top: 18px;
    right: 20px;
}