.keyboardShortcutList__1f357 .keybindGroup_bd18f5 .keybindDescription__74fa6 {
    text-transform: capitalize;
}

.modalTitle_cf2de1 {
    margin: 0 0 5px;
    padding: 20px 20px 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
}

.modalSubtitle__40325 {
    padding: 0 20px 20px;
    font-size: 14px;
    line-height: 20px;
}

.ddrArrows__352f9 {
    top: 18px;
    right: 20px;
}