.keyboardShortcutList_a3e292 .keybindGroup__00ce0 .keybindDescription_c0b6a8 {
    text-transform: capitalize;
}

.modalTitle__3df11 {
    margin: 0 0 5px;
    padding: 20px 20px 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
}

.modalSubtitle_f39977 {
    padding: 0 20px 20px;
    font-size: 14px;
    line-height: 20px;
}

.ddrArrows__3f52a {
    top: 18px;
    right: 20px;
}
