.phoneVerificationModal__68f4b .description_d4765f {
    color: var(--text-normal);
    font-size: 14px;
    line-height: 1.5;
}

#app-mount .phoneField__65729 {
    --input-background: var(--background-secondary);
    --deprecated-text-input-border: var(--neutralTertiary);
    box-shadow: none;
}

.phoneField__65729 .plusSign_e8d99e,
.phoneField__65729 .countryCode__7befd {
    color: var(--neutralDark);
}

.theme-light .editIcon__29477 {
    filter: invert(1);
    filter: brightness(0.26);
}

.phoneField__65729 .phoneFieldExpand_f973c3 {
    stroke: var(--neutralDark);
}