.phoneVerificationModal_a4eb9e .description_b9693a {
    color: var(--text-normal);
    font-size: 14px;
    line-height: 1.5;
}

#app-mount .phoneField_d4eb58 {
    --input-background: var(--background-secondary);
    --deprecated-text-input-border: var(--neutralTertiary);
    box-shadow: none;
}

.phoneField_d4eb58 .plusSign_d4eb58,
.phoneField_d4eb58 .countryCode_d4eb58 {
    color: var(--neutralDark);
}

.theme-light .editIcon_ebcd80 {
    filter: invert(1);
    filter: brightness(0.26);
}

.phoneField_d4eb58 .phoneFieldExpand_d4eb58 {
    stroke: var(--neutralDark);
}
