.scroller-2GkvCq {
    border-right: 1px solid var(--background-tertiary);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.reactionSelected-1aMb2K {
    background: var(--background-modifier-selected);
    border: 1px solid var(--background-modifier-selected-border);
    border-radius: 4px;
}

.reactionDefault-1Sjj1f {
    border: 1px solid transparent;
    border-radius: 4px;
}