.scroller__9a4f3 {
    border-right: 1px solid var(--background-tertiary);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.reactionSelected__16345 {
    background: var(--background-modifier-selected);
    border: 1px solid var(--background-modifier-selected-border);
    border-radius: 4px;
}

.reactionDefault_de3361 {
    border: 1px solid transparent;
    border-radius: 4px;
}
