.root-1CAIjD .scroller-2M3eAB {
    height: 100%;
    padding: 0 24px 24px;
}

.perkDescription-3e1T_w {
    color: var(--interactive-active);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.perks-2IIbWQ {
    background: var(--background-secondary);
    border-radius: 4px;
    -webkit-box-shadow: var(--elevation-medium);
    box-shadow: var(--elevation-medium);
}