#app-mount .container__7e23c {
    background: none;
}

.animatedContainer__0e828 {
    scale: 0.93;
    border-radius: 4px;
}

.link_ddbb36 .name__4eb92 {
    font-size: 12px;
}

.link_ddbb36 .icon__67ab4 {
    display: block;
    width: 16px;
    height: 16px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.wrapper__612a5:not(.typeThread__5fb37) .link_ddbb36 {
    padding-left: 24px;
}

.typeThread__5fb37 .link_ddbb36 {
    margin-left: 12px;
}

.spine__88e6d,
.spineBorder__52981 {
    left: 36px;
}

.wrapper__07e2f .container-q97qHp {
    text-transform: capitalize;
    margin-left: 18px;
}

.wrapper__07e2f .icon__3aa8e {
    left: 12px;
    top: 4px;
    width: 16px;
    height: 16px;
}

.modeSelected__473f1 .link_ddbb36,
.modeSelected__473f1:hover .link_ddbb36 {
    background: var(--bg-overlay-selected, var(--gradient-kit-60a)), var(--secondarySurfaceSelected);
}

.modeSelected__473f1 .icon__67ab4,
.modeSelected__473f1:hover .icon__67ab4 {
    color: var(--interactive-active);
}

.modeConnected__52a8f .name__4eb92,
.modeConnected__52a8f:hover .name__4eb92,
.modeSelected__473f1 .name__4eb92,
.modeSelected__473f1:hover .name__4eb92,
.modeUnreadImportant__35358 .name__4eb92,
.modeUnreadImportant__35358:hover .name__4eb92,
.notInteractive_e31551.modeConnected__52a8f .name__4eb92,
.notInteractive_e31551.modeSelected__473f1 .name__4eb92 {
    font-weight: 600;
}

.unread__48cf4 {
    position: absolute;
    height: 16px;
    width: 4px;
    border-radius: 2px;
    top: 50%;
    left: 2px;
    margin-top: -8px;
}

.unreadImportant_e8bb44 {
    background: var(--brand-experiment);
}