#app-mount .container_ee69e0 {
    background: none;
}

.animatedContainer_fd6364 {
    scale: 0.93;
    border-radius: 4px;
}

.link_d8bfb3 .name_d8bfb3 {
    font-size: 12px;
}

.link_d8bfb3 .icon_d8bfb3 {
    display: block;
    width: 16px;
    height: 16px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.wrapper_d8bfb3:not(.typeThread_d8bfb3) .link_d8bfb3 {
    padding-left: 24px;
}

.typeThread_d8bfb3 .link_d8bfb3 {
    margin-left: 12px;
}

.spine_e1e976,
.spineBorder_e1e976 {
    left: 36px;
}

.wrapper_a08117 .container-q97qHp {
    text-transform: capitalize;
    margin-left: 18px;
}

.wrapper_a08117 .icon_a08117 {
    left: 12px;
    top: 4px;
    width: 16px;
    height: 16px;
}

.modeSelected_d8bfb3 .link_d8bfb3,
.modeSelected_d8bfb3:hover .link_d8bfb3 {
    background: var(--bg-overlay-selected, var(--gradient-kit-60a)), var(--secondarySurfaceSelected);
}

.modeSelected_d8bfb3 .icon_d8bfb3,
.modeSelected_d8bfb3:hover .icon_d8bfb3 {
    color: var(--interactive-active);
}

.modeConnected_d8bfb3 .name_d8bfb3,
.modeConnected_d8bfb3:hover .name_d8bfb3,
.modeSelected_d8bfb3 .name_d8bfb3,
.modeSelected_d8bfb3:hover .name_d8bfb3,
.modeUnreadImportant_d8bfb3 .name_d8bfb3,
.modeUnreadImportant_d8bfb3:hover .name_d8bfb3,
.notInteractive_d8bfb3.modeConnected_d8bfb3 .name_d8bfb3,
.notInteractive_d8bfb3.modeSelected_d8bfb3 .name_d8bfb3 {
    font-weight: 600;
}

.unread_d8bfb3 {
    position: absolute;
    height: 16px;
    width: 4px;
    border-radius: 2px;
    top: 50%;
    left: 2px;
    margin-top: -8px;
}

.unreadImportant_d8bfb3 {
    background: var(--brand-experiment);
}