#app-mount .container__590e2 {
    background: none;
}

.animatedContainer__341f6 {
    scale: 0.93;
    border-radius: 4px;
}

.link__95dc0 .name__8d1ec {
    font-size: 12px;
}

.link__95dc0 .icon_eff5d4 {
    display: block;
    width: 16px;
    height: 16px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.wrapper__7bcde:not(.typeThread__2f91c) .link__95dc0 {
    padding-left: 24px;
}

.typeThread__2f91c .link__95dc0 {
    margin-left: 12px;
}

.spine__88e6d,
.spineBorder_bdec8b {
    left: 36px;
}

.wrapper__9c483 .container-q97qHp {
    text-transform: capitalize;
    margin-left: 18px;
}

.wrapper__9c483 .icon_ef4486 {
    left: 12px;
    top: 4px;
    width: 16px;
    height: 16px;
}

.modeSelected__487d6 .link__95dc0,
.modeSelected__487d6:hover .link__95dc0 {
    background: var(--bg-overlay-selected, var(--gradient-kit-60a)), var(--secondarySurfaceSelected);
}

.modeSelected__487d6 .icon_eff5d4,
.modeSelected__487d6:hover .icon_eff5d4 {
    color: var(--interactive-active);
}

.modeConnected__1c02e .name__8d1ec,
.modeConnected__1c02e:hover .name__8d1ec,
.modeSelected__487d6 .name__8d1ec,
.modeSelected__487d6:hover .name__8d1ec,
.modeUnread_f74c03 .name__8d1ec,
.modeUnread_f74c03:hover .name__8d1ec,
.notInteractive_a7d9fb.modeConnected__1c02e .name__8d1ec,
.notInteractive_a7d9fb.modeSelected__487d6 .name__8d1ec {
    font-weight: 600;
}

.unread__48cf4 {
    position: absolute;
    height: 16px;
    width: 4px;
    border-radius: 2px;
    top: 50%;
    left: 2px;
    margin-top: -8px;
}

.unreadRelevant__44f9e {
    background: var(--brand-experiment);
}