.sidebar_e031be {
    background: none;
}

.theme-dark .sidebar_e031be {
    --background-modifier-active: hsla(0, 0%, 50%, 10%);
}

.bar__004d9 {
    border-radius: 4px;
}

.barText__32a63 {
    text-transform: capitalize;
}