.sidebar_ded4b5 {
    background: none;
}

.theme-dark .sidebar_ded4b5 {
    --background-modifier-active: hsla(0, 0%, 50%, 10%);
}

.bar__004d9 {
    border-radius: 4px;
}

.barText__1a44f {
    text-transform: capitalize;
}