.sidebar_a4d4d9 {
    background: none;
}

.theme-dark .sidebar_a4d4d9 {
    --background-modifier-active: hsla(0, 0%, 50%, 10%);
}

.bar_eba0ba {
    border-radius: 4px;
}

.barText_eba0ba {
    text-transform: capitalize;
}