.privateChannels__9b518,
#app-mount .scroller__89969 {
    background: none;
}

.name_f842e4 {
    font-size: 12px;
}

.container-q97qHp {
    text-transform: capitalize;
}

.selected__37292,
.interactiveSelected__689f0.selected__37292 {
    color: var(--interactive-active);
    background: var(--bg-overlay-selected, var(--gradient-kit-60a)), var(--secondarySurfaceSelected);
}

.selected__37292 .name_f842e4,
.interactiveSelected__689f0.selected__37292 .name_f842e4 {
    font-weight: 600;
}