.privateChannels_f0963d,
#app-mount .scroller_c47fa9 {
    background: none;
}

.name_f9647d {
    font-size: 12px;
}

.container-q97qHp {
    text-transform: capitalize;
}

.selected_f5eb4b,
.interactiveSelected_c91bad.selected_f5eb4b {
    color: var(--interactive-active);
    background: var(--bg-overlay-selected, var(--gradient-kit-60a)), var(--secondarySurfaceSelected);
}

.selected_f5eb4b .name_f9647d,
.interactiveSelected_c91bad.selected_f5eb4b .name_f9647d {
    font-weight: 600;
}