#app-mount .header_fd6364 {
    position: fixed;
    z-index: 999;
    top: calc(var(--titlebar-height) + var(--panel-spacing) + 4px);
    background: var(--brand-experiment);
    padding: 0;
    margin-left: calc(8px + 4px);
    border-radius: 4px 0 0 4px;
    height: 32px;
    padding: 0 12px 0 9px;
    display: flex;
    align-items: center;
    width: 180px;
}

.header_fd6364 .headerContent_fd6364 {
    filter: none;
    max-width: 100%;
}

.header_fd6364 [data-text-variant="text-md/semibold"] {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: white;
}

.headerChildren_fd6364 {
    background: var(--brand-experiment);
    height: 100%;
    position: absolute;
    top: 0;
    right: -29px;
    border-radius: 0 4px 4px 0;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#app-mount .header_fd6364:hover,
.headerChildren_fd6364:hover {
    background: var(--brand-experiment-680);
}

.headerChildren_fd6364 .button_a79c58 {
    opacity: 1;
    margin-left: unset;
}

.flowerStarContainer_ff7d90 {
    height: 24px !important;
    width: 24px !important;
}

.guildIconContainer_ed9816 {
    overflow: hidden;
}

.flowerStarContainer_ff7d90[class*="iconBackgroundTier"] {
    scale: 1.8;
}

#app-mount .flowerStarContainer_ff7d90 {
    color: transparent;
}

.communityInfoVisible_fd6364 .communityInfoContainer_fd6364 {
    margin-top: 0;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    order: -1;
}

.communityInfoPill_fd6364 {
    padding: 0;
    background: none;
    border-radius: unset;
    margin-right: 0;
}

.communityIcon_fd6364 {
    height: 20px;
    width: 20px;
    margin-right: 0;
}

.communityIcon_fd6364+div {
    display: none;
}