#app-mount .header__77c95 {
    position: fixed;
    z-index: 999;
    top: calc(var(--titlebar-height) + var(--panel-spacing) + 4px);
    background: var(--brand-experiment);
    padding: 0;
    margin-left: calc(8px + 4px);
    border-radius: 4px 0 0 4px;
    height: 32px;
    padding: 0 12px 0 9px;
    display: flex;
    align-items: center;
    width: 180px;
}

.header__77c95 .headerContent__6fcc7 {
    filter: none;
    max-width: 100%;
}

.header__77c95 [data-text-variant="text-md/semibold"] {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: white;
}

.headerChildren_e6a96f {
    background: var(--brand-experiment);
    height: 100%;
    position: absolute;
    top: 0;
    right: -29px;
    border-radius: 0 4px 4px 0;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#app-mount .header__77c95:hover,
.headerChildren_e6a96f:hover {
    background: var(--brand-experiment-680);
}

.headerChildren_e6a96f .button__84b6b {
    opacity: 1;
    margin-left: unset;
}

.flowerStarContainer__00f61 {
    height: 24px !important;
    width: 24px !important;
}

.guildIconContainer__3c180 {
    overflow: hidden;
}

.flowerStarContainer__00f61[class*="iconBackgroundTier"] {
    scale: 1.8;
}

#app-mount .flowerStarContainer__00f61 {
    color: transparent;
}

.communityInfoVisible_bab80a .communityInfoContainer__6ea3a {
    margin-top: 0;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    order: -1;
}

.communityInfoPill__1efab {
    padding: 0;
    background: none;
    border-radius: unset;
    margin-right: 0;
}

.communityIcon__6aa44 {
    height: 20px;
    width: 20px;
    margin-right: 0;
}

.communityIcon__6aa44+div {
    display: none;
}