.wrapper_bd2abe,
.container__3e5cc {
    background: none;
}

.wrapper_bd2abe~.content__1a4fe .chatContent__5dca8 {
    border-radius: 0;
}

#app-mount:not(:-webkit-full-screen) .callContainer_cbde45,
#app-mount:not(:-webkit-full-screen) .callContainer_e8faeb {
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid var(--neutralTertiary);
    border-left: 1px solid var(--neutralTertiary);
    border-right: 1px solid var(--neutralTertiary);
}

.wrapper_bd2abe.minimum_ebf000 .callContainer_cbde45 {
    background: black;
}

.chat__1d65d:before {
    display: none;
}

.container__11d72.transparent__7f3e0 {
    height: 40px;
    flex-grow: 0;
    width: fit-content;
}

.videoControls__40f61 {
    justify-content: end;
}

.gradientTop__8dcff {
    display: none;
}

.topControls_d202b0 {
    transform: none !important;
    opacity: 1 !important;
    position: fixed;
    top: calc(var(--titlebar-height) + var(--panel-spacing));
    left: 80px;
    width: calc(100% - 80px - 19px - 215px - var(--theme-preview-width, 0px) - var(--settingsidebar-width, 0px));
    height: 40px;
    padding-left: 215px;
    border-radius: 4px;
    background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
    box-shadow:
        0 1.6px 3.6px hsla(0, 0%, 0%, 0.133),
        0 0.3px 0.9px hsla(0, 0%, 0%, 0.11);
}

.wrapper_bd2abe.video__85ac2 .topControls_d202b0 {
    background: black;
}

.divider_c09b64:has(+div .disabledButtonWrapper__69c70),
.divider_c09b64+div:has(.disabledButtonWrapper__69c70) {
    display: none;
}

.sidebar_ded4b5:has(.privateChannels__93473)~.chat__52833 .children__32014 {
    position: fixed;
    z-index: 999;
    top: calc(var(--titlebar-height) + var(--panel-spacing) + 4px);
    background: var(--brand-experiment);
    border-radius: 4px;
    padding: 0 12px 0 9px;
    height: 32px;
    margin-left: 4px;
    left: 80px;
    width: 209px;
}

.sidebar_ded4b5:has(.privateChannels__93473)~.chat__52833 .children__32014:hover {
    width: fit-content;
}

.sidebar_ded4b5:has(.privateChannels__93473)~.chat__52833 .children__32014 .divider_c09b64 {
    display: none;
}

#app-mount .sidebar_ded4b5:has(.privateChannels__93473)~.chat__52833 .children__32014:after {
    display: block;
    --__header-bar-background: var(--brand-experiment);
}

.sidebar_ded4b5:has(.privateChannels__93473)~.chat__52833 .children__32014:has(+.toolbar__88c63 .liveIndicator__18206) {
    background: var(--red-400);
}

#app-mount .sidebar_ded4b5:has(.privateChannels__93473)~.chat__52833 .children__32014:has(+.toolbar__88c63 .liveIndicator__18206):after {
    --__header-bar-background: var(--red-400);
}

.sidebar_ded4b5:has(.privateChannels__93473)~.chat__52833 .children__32014 .title__9e2b0 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-left: 10px;
    color: white;
}

.sidebar_ded4b5:has(.privateChannels__93473)~.chat__52833 .children__32014 .iconWrapper_af9215 {
    margin: 0;
    --channel-icon: white;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar_ded4b5:has(.privateChannels__93473)~.chat__52833 .children__32014 .iconWrapper_af9215 svg {
    height: 20px;
    width: 20px;
}

.sidebar_ded4b5:has(.privateChannels__93473)~.chat__52833 .children__32014 .nicknames__7447d {
    color: white;
}

.callContainer_cbde45 .headerWrapper__94dd8 {
    margin: 0;
}

.callContainer_cbde45 .headerWrapper__94dd8+.flex_f5fbb7 {
    margin: 16px;
}

.quickSelect_ae48d2 {
    line-height: 20px;
}

.callContainer_e8faeb .topControls_d202b0 {
    padding-left: 221px;
}