.wrapper_d880dc,
.container_ed4410 {
    background: none;
}

.wrapper_d880dc~.content_a7d72e .chatContent_a7d72e {
    border-radius: 0;
}

#app-mount:not(:-webkit-full-screen) .callContainer_d880dc,
#app-mount:not(:-webkit-full-screen) .callContainer_ed4410 {
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid var(--neutralTertiary);
    border-left: 1px solid var(--neutralTertiary);
    border-right: 1px solid var(--neutralTertiary);
}

.wrapper_d880dc.minimum_d880dc .callContainer_d880dc {
    background: black;
}

.chat_f57fdc:before {
    display: none;
}

.container_e44302.transparent_e44302 {
    height: 40px;
    flex-grow: 0;
    width: fit-content;
}

.videoControls_dd069c {
    justify-content: end;
}

.gradientTop_dd069c {
    display: none;
}

.topControls_dd069c {
    transform: none !important;
    opacity: 1 !important;
    position: fixed;
    top: calc(var(--titlebar-height) + var(--panel-spacing));
    left: 80px;
    width: calc(100% - 80px - 19px - 215px - var(--theme-preview-width, 0px) - var(--settingsidebar-width, 0px));
    height: 40px;
    padding-left: 215px;
    border-radius: 4px;
    background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
    box-shadow:
        0 1.6px 3.6px hsla(0, 0%, 0%, 0.133),
        0 0.3px 0.9px hsla(0, 0%, 0%, 0.11);
}

.wrapper_d880dc.video_d880dc .topControls_dd069c {
    background: black;
}

.divider_e44302:has(+div .disabledButtonWrapper_dd4f85),
.divider_e44302+div:has(.disabledButtonWrapper_dd4f85) {
    display: none;
}

.sidebar_a4d4d9:has(.privateChannels_f0963d)~.chat_a7d72e .children_e44302 {
    position: fixed;
    z-index: 999;
    top: calc(var(--titlebar-height) + var(--panel-spacing) + 4px);
    background: var(--brand-experiment);
    border-radius: 4px;
    padding: 0 12px 0 9px;
    height: 32px;
    margin-left: 4px;
    left: 80px;
    width: 209px;
}

.sidebar_a4d4d9:has(.privateChannels_f0963d)~.chat_a7d72e .children_e44302:hover {
    width: fit-content;
}

.sidebar_a4d4d9:has(.privateChannels_f0963d)~.chat_a7d72e .children_e44302 .divider_e44302 {
    display: none;
}

#app-mount .sidebar_a4d4d9:has(.privateChannels_f0963d)~.chat_a7d72e .children_e44302:after {
    display: block;
    --__header-bar-background: var(--brand-experiment);
}

.sidebar_a4d4d9:has(.privateChannels_f0963d)~.chat_a7d72e .children_e44302:has(+.toolbar_e44302 .liveIndicator_c5881c) {
    background: var(--red-400);
}

#app-mount .sidebar_a4d4d9:has(.privateChannels_f0963d)~.chat_a7d72e .children_e44302:has(+.toolbar_e44302 .liveIndicator_c5881c):after {
    --__header-bar-background: var(--red-400);
}

.sidebar_a4d4d9:has(.privateChannels_f0963d)~.chat_a7d72e .children_e44302 .title_e44302 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-left: 10px;
    color: white;
}

.sidebar_a4d4d9:has(.privateChannels_f0963d)~.chat_a7d72e .children_e44302 .iconWrapper_e44302 {
    margin: 0;
    --channel-icon: white;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar_a4d4d9:has(.privateChannels_f0963d)~.chat_a7d72e .children_e44302 .iconWrapper_e44302 svg {
    height: 20px;
    width: 20px;
}

.sidebar_a4d4d9:has(.privateChannels_f0963d)~.chat_a7d72e .children_e44302 .nicknames__12efb {
    color: white;
}

.callContainer_d880dc .headerWrapper_d880dc {
    margin: 0;
}

.callContainer_d880dc .headerWrapper_d880dc+.flex_bba380 {
    margin: 16px;
}

.quickSelect__540d0 {
    line-height: 20px;
}

.callContainer_ed4410 .topControls_dd069c {
    padding-left: 221px;
}
