.container__11d72.themed_b152d4 {
    border-radius: 4px;
    margin-bottom: var(--panel-spacing);
    border: 1px solid var(--background-tertiary);
}

.chat__52833:not(:has(.topControls_d202b0)) .toolbar__88c63,
.container__5c7e7 .toolbar__88c63 {
    position: fixed;
    top: calc(var(--titlebar-height) + var(--panel-spacing));
    background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
    height: 40px;
    border-radius: 4px;
    width: calc(100% - 80px - 19px - var(--theme-preview-width, 0px) - var(--settingsidebar-width, 0px));
    left: 80px;
    box-shadow:
        0 1.6px 3.6px hsla(0, 0%, 0%, 0.133),
        0 0.3px 0.9px hsla(0, 0%, 0%, 0.11);
    padding-left: 215px;
}

.container__5c7e7 .toolbar__88c63 {
    padding-left: 4px;
}

.toolbar__88c63 .iconWrapper_af9215[aria-label] {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 9px;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 4px;
}

.toolbar__88c63 .iconWrapper_af9215[aria-label]:hover {
    background: var(--background-modifier-hover);
    border-color: var(--background-modifier-hover-border);
}

.toolbar__88c63 .iconWrapper_af9215[aria-label]:active {
    background: var(--background-modifier-active);
    border-color: var(--background-modifier-active-border);
}

.toolbar__88c63 .iconWrapper_af9215[aria-label].selected_be2668 {
    background: var(--background-modifier-selected);
    border-color: var(--background-modifier-selected-border);
}

.toolbar__88c63 .iconWrapper_af9215[aria-label]>svg {
    height: 20px;
    width: 20px;
    flex-shrink: 0;
}

.toolbar__88c63 .iconWrapper_af9215[aria-label]::after {
    content: attr(aria-label);
    font-size: 14px;
    margin-left: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#app-mount .children__32014:after {
    --__header-bar-background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
}

.inviteToolbar_e74dc0 {
    background: var(--brand-experiment);
    border-radius: 4px;
    color: white;
    padding: 0 12px 0 9px;
    margin-right: 2px;
}

.inviteToolbar_e74dc0:hover {
    background: var(--brand-experiment-680);
}

#app-mount .inviteToolbar_e74dc0 .iconWrapper_af9215[aria-label] {
    background: none;
    border: none;
}

#app-mount .inviteToolbar_e74dc0 .icon__4cb88 {
    color: white;
}

.inviteToolbar_e74dc0 .divider_c09b64 {
    display: none;
}