.chat-2ZfjoI.threadSidebarOpen-1LSXvU {
    border-radius: 4px 4px 0 0;
}

.resizeHandle-PBRzPC {
    background: none;
}

.container-3XgAHv {
    border-radius: unset;
    background: none;
}

.chat-25x62K:before {
    display: none;
}

.header-1RJoTb {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top-color: transparent;
}

.container-3YcgdM {
    padding: 4px;
    background: var(--background-secondary);
    width: fit-content;
    border-radius: 4px;
    top: 8px;
    right: 8px;
    margin-left: auto;
    margin-right: 0;
    border: 1px solid var(--neutralTertiary);
}

.chatHeaderBar-2fUORh {
    background: var(--background-secondary);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.reactButtons-FRvFhI {
    margin-right: 8px;
}

.addReactButton-3bSQb6,
.buttonInner-3aRbcx {
    border-radius: 4px;
    border: none;
    height: 32px;
}

.addReactButton-3bSQb6:hover,
.buttonInner-3aRbcx:hover {
    background: var(--background-modifier-hover);
    color: var(--interactive-hover);
}

.addReactButton-3bSQb6:active,
.buttonInner-3aRbcx:active {
    background: var(--background-modifier-active);
    color: var(--interactive-active);
}

.chatContent-3KubbW .divider-AZrXIA {
    display: none;
}

.floating-3M3WeH {
    border-left: none;
    -webkit-filter: none;
    filter: none;
}