.chat__52833.threadSidebarOpen__62c31 {
    border-radius: 4px 4px 0 0;
}

.resizeHandle_cc9d34 {
    background: none;
}

.container__694a1 {
    border-radius: unset;
    background: none;
}

.chat__4eed1:before {
    display: none;
}

.header__8863a {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top-color: transparent;
}

.container__68e43 {
    padding: 4px;
    background: var(--background-secondary);
    width: fit-content;
    border-radius: 4px;
    top: 8px;
    right: 8px;
    margin-left: auto;
    margin-right: 0;
    border: 1px solid var(--neutralTertiary);
}

.chatHeaderBar__9e6ac {
    background: var(--background-secondary);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.reactButtons_db41f7 {
    margin-right: 8px;
}

.addReactButton__4342f,
.buttonInner__865de {
    border-radius: 4px;
    border: none;
    height: 32px;
}

.addReactButton__4342f:hover,
.buttonInner__865de:hover {
    background: var(--background-modifier-hover);
    color: var(--interactive-hover);
}

.addReactButton__4342f:active,
.buttonInner__865de:active {
    background: var(--background-modifier-active);
    color: var(--interactive-active);
}

.chatContent_f087cb .divider__4df9f {
    display: none;
}

.floating__8f631 {
    border-left: none;
    -webkit-filter: none;
    filter: none;
}
