#app-mount:not(:-webkit-full-screen) .content__4bf10 {
    margin-top: calc(40px + 16px);
    margin-right: 19px;
}

.chat__52833,
.wrapper__3d460 {
    background: none;
}

.chatContent__5dca8 {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid var(--neutralTertiary);
    border-left: 1px solid var(--neutralTertiary);
    border-right: 1px solid var(--neutralTertiary);
    background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
}

.container_def45c .chatContent__5dca8 {
    overflow: hidden;
}

.content__1a4fe:before {
    display: none;
}

.wrapper_b8c724,
.wrapper__5c5cd {
    background: none;
}

.emptyChannelIcon__1a1ba {
    background-color: transparent;
    filter: none;
}

.theme-dark .emptyChannelIcon__1a1ba {
    filter: invert(1);
}

.header__4080b {
    font-weight: 100;
}