#app-mount:not(:-webkit-full-screen) .content_a4d4d9 {
    margin-top: calc(40px + 16px + 48px);
    margin-right: 19px;
}

.chat_a7d72e,
.wrapper_cdfd51 {
    background: none;
}

.chatContent_a7d72e {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid var(--neutralTertiary);
    border-left: 1px solid var(--neutralTertiary);
    border-right: 1px solid var(--neutralTertiary);
    background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
}

.container_d1c246 .chatContent_a7d72e {
    overflow: hidden;
}

.content_a7d72e:before {
    display: none;
}

.wrapper_ba0ffb,
.wrapper_b211c6 {
    background: none;
}

.emptyChannelIcon_c2668b {
    background-color: transparent;
    filter: none;
}

.theme-dark .emptyChannelIcon_c2668b {
    filter: invert(1);
}

.header_c2668b {
    font-weight: 100;
}
