.membersWrap__5ca6b {
    background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
    border-radius: 4px;
    border: 1px solid var(--background-tertiary);
    padding-bottom: 4px;
    margin-left: var(--panel-spacing);
    height: fit-content;
}

.container_f79ab4,
.member_b44d5d,
.members__573eb {
    background: none;
}

.membersWrap__5ca6b .name__7afe8 {
    font-size: 14px;
    line-height: 20px;
}

.selected__7f4cb .layout_bb8e67,
.clickable__03a29:active .layout_bb8e67 {
    background: var(--themeLight);
}
