.membersWrap__90226 {
    background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
    border-radius: 4px;
    border: 1px solid var(--background-tertiary);
    padding-bottom: 4px;
    margin-left: var(--panel-spacing);
    height: fit-content;
}

.container_b2ce9c,
.member_b44d5d,
.members__9f47b {
    background: none;
}

.membersWrap__90226 .name__16feb {
    font-size: 14px;
    line-height: 20px;
}

.selected__9800b .layout_bb8e67,
.clickable__17ccb:active .layout_bb8e67 {
    background: var(--themeLight);
}