.jumpToPresentBar__69174 {
    bottom: 8px;
    border-radius: 8px;
    background-color: var(--brand-experiment);
    padding: 8px;
    left: unset;
    box-shadow: var(--elevation-medium);
}

.jumpToPresentBar__69174:hover {
    background-color: var(--brand-experiment-680);
}

.scrollerSpacer__6b1b6 {
    height: 20px;
}

.reaction_ef7e09,
.reaction__4a43f,
.addReactButton_c67c5a {
    border-radius: 4px;
    background: none;
}

.buttonContainer__6de7e .wrapper__4e6b6 {
    border-radius: 4px;
}

.embed_cc6dae.markup_a7e664 {
    box-shadow: var(--elevation-medium);
}

.embedFull__14919 {
    overflow: hidden;
    background: var(--background-primary);
    border-left: none;
    border-top: 4px solid var(--background-tertiary);
    z-index: 0;
}

.embedSuppressButton__5aae1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    border-radius: 4px;
    height: 20px;
    width: 20px;
    right: 0;
    z-index: 2;
}

.embedSuppressButton__5aae1:hover {
    background: var(--button-danger-background);
    color: var(--white-500);
}

.embedFull__14919::before {
    display: block;
    content: '';
    height: 100%;
    position: absolute;
    width: 0;
    border-right: 100vw solid transparent;
    border-color: inherit;
    opacity: 0.125;
    z-index: -1;
}

.embedFull__14919[style="border-color: hsla(0, calc(var(--saturation-factor, 1) * 0%), 100%, 1);"] {
    background: var(--background-secondary);
    border: 1px solid var(--neutralTertiary) !important;
}

#app-mount .embedHorizontal_beabf1,
#app-mount .embedVertical_b68872 {
    background: var(--background-secondary);

}

#app-mount .tile_ebc93b {
    border-radius: 4px;
    border: 1px solid var(--neutralTertiary);
}

#app-mount .wrapper__8a5dd {
    --background-secondary-alt: var(--background-secondary);
    border: 1px solid var(--neutralTertiary);
    border-radius: 4px;
}

.wrapper__8a5dd:focus,
.wrapper__8a5dd:hover {
    background: var(--background-secondary);
    transform: translateY(0);
    -webkit-transform: translateY(0);
    box-shadow: var(--elevation-card);
    -webkit-box-shadow: var(--elevation-card);
}

.wrapper__8a5dd .inviteSplash__0f1df {
    border-radius: 4px 4px 0 0;
}

.content__7191e {
    background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
}
