.jumpToPresentBar__0ff7f {
    bottom: 8px;
    border-radius: 8px;
    background-color: var(--brand-experiment);
    padding: 8px;
    left: unset;
    box-shadow: var(--elevation-medium);
}

.jumpToPresentBar__0ff7f:hover {
    background-color: var(--brand-experiment-680);
}

.scrollerSpacer__9cd32 {
    height: 20px;
}

.reaction_b90ab0,
.reaction_fef95b,
.addReactButton__82bd9 {
    border-radius: 4px;
    background: none;
}

.buttonContainer_dd4b62 .wrapper_c727b6 {
    border-radius: 4px;
}

.embed_d3cbe3.markup_a7e664 {
    box-shadow: var(--elevation-medium);
}

.embedFull__8dc21 {
    overflow: hidden;
    background: var(--background-primary);
    border-left: none;
    border-top: 4px solid var(--background-tertiary);
    z-index: 0;
}

.embedSuppressButton_df9a75 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    border-radius: 4px;
    height: 20px;
    width: 20px;
    right: 0;
    z-index: 2;
}

.embedSuppressButton_df9a75:hover {
    background: var(--button-danger-background);
    color: var(--white-500);
}

.embedFull__8dc21::before {
    display: block;
    content: '';
    height: 100%;
    position: absolute;
    width: 0;
    border-right: 100vw solid transparent;
    border-color: inherit;
    opacity: 0.125;
    z-index: -1;
}

.embedFull__8dc21[style="border-color: hsla(0, calc(var(--saturation-factor, 1) * 0%), 100%, 1);"] {
    background: var(--background-secondary);
    border: 1px solid var(--neutralTertiary) !important;
}

#app-mount .embedHorizontal__1a12e,
#app-mount .embedVertical_c1760d {
    background: var(--background-secondary);

}

#app-mount .tile_ebc93b {
    border-radius: 4px;
    border: 1px solid var(--neutralTertiary);
}

#app-mount .wrapper_efe67f {
    --background-secondary-alt: var(--background-secondary);
    border: 1px solid var(--neutralTertiary);
    border-radius: 4px;
}

.wrapper_efe67f:focus,
.wrapper_efe67f:hover {
    background: var(--background-secondary);
    transform: translateY(0);
    -webkit-transform: translateY(0);
    box-shadow: var(--elevation-card);
    -webkit-box-shadow: var(--elevation-card);
}

.wrapper_efe67f .inviteSplash_f4eb93 {
    border-radius: 4px 4px 0 0;
}

.content_d67847 {
    background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
}