.searchResultsWrap__2e184 {
    background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
    border-radius: 4px;
    border: 1px solid var(--background-tertiary);
    margin-left: var(--panel-spacing);
    height: fit-content;
    max-height: calc(100% + 4px);
}

.searchHeader__4d70e {
    background: var(--bg-overlay-chat, var(--gradient-kit-925a)), var(--background-primary);
    border-bottom: 1px solid var(--background-tertiary);
    height: 52px;
}

.searchHeaderTabList__75f6b {
    gap: 0;
}

.searchResultsWrap__2e184 .scroller__5f036 {
    margin-bottom: 4px;
}

.searchResultGroup_ea38ca {
    margin-bottom: 16px;
    background: var(--n-yellow-canvas);
    position: relative;
    box-shadow: var(--elevation-card);
    border-radius: 8px;
    overflow: hidden;
}

.searchResultGroup_ea38ca:before {
    content: '';
    width: 100%;
    height: 6px;
    background: var(--n-yellow-stroke);
    position: absolute;
    top: 0;
    left: 0;
}

.channelNameContainer__2d85c {
    padding: 16px 16px 8px 16px;
    margin-bottom: 0;
}

.channelNameText__56ed8 {
    font-size: 16px;
    line-height: 20px;
    color: var(--header-primary);
    font-weight: 600;
}

.searchResult__00093 {
    background: none;
}
