.container_ac201b {
    background: var(--background-floating);
    border-radius: 8px;
    padding: 16px;
    border: none;
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
}

.focused_eef3ef:active,
.item_eef3ef:active:not(.disabled_eef3ef) {
    background: var(--background-modifier-active);
    color: var(--interactive-active);
}
