.container_cff83e {
    background: var(--background-floating);
    border-radius: 8px;
    padding: 16px;
    border: none;
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
}

.focused__87b55:active,
.item__287de:active:not(.disabled_ef860a) {
    background: var(--background-modifier-active);
    color: var(--interactive-active);
}
