.attachedBars_d0696b {
    background: none;
    border-radius: 8px;
    position: absolute;
    left: 0;
    margin-top: -42px;
}

.replyBar_b11c5e,
.threadSuggestionBar_b11c5e {
    background: var(--background-floating);
    border-radius: 8px;
}

.clipContainer_b11c5e {
    overflow: visible;
}

.replyBar_b11c5e {
    border: 1px solid transparent;
    -webkit-box-shadow: var(--elevation-card);
    box-shadow: var(--elevation-card);
}

.replyBar_b11c5e:has([aria-checked="true"]) {
    background:
        linear-gradient(var(--brand-experiment-10a) 0 0),
        linear-gradient(var(--background-floating) 0 0);
    border-color: var(--brand-experiment-200);
}

.threadSuggestionBar_b11c5e {
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    -webkit-box-shadow: var(--elevation-card);
    box-shadow: var(--elevation-card);
    position: absolute;
    top: -36px;
}

#app-mount .autocomplete_f23da8 {
    background-color: var(--background-floating);
}

.autocomplete_bea0d0 {
    border-radius: 8px;
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
}

.outerWrapper_fe2299 {
    border-radius: 8px;
}

#app-mount .autocomplete_f23da8 .wrapper_e06857 {
    background: var(--background-floating);
}

.upload_df1eaf {
    background-color: var(--background-primary);
    border-radius: 4px;
    box-shadow: var(--elevation-card);
}
