.attachedBars_c1606a {
    background: none;
    border-radius: 8px;
    position: absolute;
    left: 0;
    margin-top: -42px;
}

.replyBar_ed6afc,
.threadSuggestionBar__717a3 {
    background: var(--background-floating);
    border-radius: 8px;
}

.clipContainer_ab9cf6 {
    overflow: visible;
}

.replyBar_ed6afc {
    border: 1px solid transparent;
    -webkit-box-shadow: var(--elevation-card);
    box-shadow: var(--elevation-card);
}

.replyBar_ed6afc:has([aria-checked="true"]) {
    background:
        linear-gradient(var(--brand-experiment-10a) 0 0),
        linear-gradient(var(--background-floating) 0 0);
    border-color: var(--brand-experiment-200);
}

.threadSuggestionBar__717a3 {
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    -webkit-box-shadow: var(--elevation-card);
    box-shadow: var(--elevation-card);
    position: absolute;
    top: -36px;
}

#app-mount .autocomplete__743a5 {
    background-color: var(--background-floating);
}

.autocomplete__2e602 {
    border-radius: 8px;
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
}

.outerWrapper__99794 {
    border-radius: 8px;
}

#app-mount .autocomplete__743a5 .wrapper__91b2c {
    background: var(--background-floating);
}

.upload_c98ecb {
    background-color: var(--background-primary);
    border-radius: 4px;
    box-shadow: var(--elevation-card);
}
