#app-mount .customColorPicker-C_jddW {
    border: none;
    border-radius: 8px;
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
    background: var(--background-primary);
}