.flexible_d90b3d {
    min-width: 180px;
}

.menu_d90b3d:not(#account) {
    max-height: 802px;
    border-radius: 8px;
    overflow: hidden;
}

.layer_cd0de5[style*="left"] .submenuPaddingContainer_d90b3d {
    padding-left: 0;
    margin-left: -4px;
}

.layer_cd0de5[style*="right"] .submenuPaddingContainer_d90b3d {
    padding-right: 0;
    margin-right: -4px;
}

.scroller_d90b3d {
    padding: 0 !important;
    overflow: overlay !important;
}

#account.menu_d90b3d.flexible_d90b3d {
    min-width: 100%;
}

#account.menu_d90b3d div[role=separator] {
    border-color: var(--profile-body-divider-color);
    margin: 0 12px;
}

#app-mount .scroller_d90b3d:not(:hover)::-webkit-scrollbar-thumb {
    background: none;
}

.item_d90b3d {
    margin: 0;
    border-radius: 0;
    font-size: 12px;
    line-height: 18px;
}

.item_d90b3d .label_d90b3d {
    margin: 0px 4px;
}

.labelContainer_d90b3d {
    min-height: 36px;
    padding-left: 24px;
}

.item_d90b3d.colorDefault_d90b3d:not(.colorDanger_d90b3d) {
    color: var(--interactive-active);
}

.item_d90b3d.colorDefault_d90b3d.focused_d90b3d:not(.colorDanger_d90b3d) {
    background: var(--background-modifier-hover);
}

.item_d90b3d.colorDefault_d90b3d.focused_d90b3d:not(.colorDanger_d90b3d):active {
    background: var(--background-modifier-active);
}

.item_d90b3d.colorDefault_d90b3d.focused_d90b3d:not(.colorDanger_d90b3d) {
    color: var(--neutralDark);
}

.item_d90b3d.colorDefault_d90b3d.focused_d90b3d:not(.colorDanger_d90b3d) .iconContainer_d90b3d {
    color: var(--themeDarkAlt);
}

.colorDefault_d90b3d:active:not(.hideInteraction_d90b3d) {
    background: var(--background-modifier-active);
    color: var(--interactive-active);
}

.item_d90b3d .iconContainer_d90b3d:has(.icon_d90b3d) {
    margin: 0px 4px;
    order: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hintContainer_d90b3d,
.imageContainer_d90b3d {
    max-height: 18px;
    margin: 0px 4px;
    order: -1;
}

.item_d90b3d .icon_d90b3d {
    width: 16px;
    height: 16px;
}

.separator_d90b3d {
    margin: 0;
    border-bottom: 1px solid var(--background-tertiary);
}

.wrapper_a24e84 {
    padding: 8px;
}

.customItem_d90b3d {
    color: var(--interactive-normal);
    border-color: var(--interactive-normal);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.button_a24e84 {
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 4px;
    background: none;
}

.button_a24e84:hover,
.keyboard-mode .button_a24e84.focused_a24e84 {
    background: var(--background-modifier-hover);
}

.caret_d90b3d {
    width: 12px;
    height: 12px;
}

.colorDefault_d90b3d.focused_d90b3d .caret_d90b3d,
.colorDefault_d90b3d.focused_d90b3d .checkbox_d90b3d,
.colorDefault_d90b3d.focused_d90b3d .radioSelection_d90b3d,
.colorDefault_d90b3d.focused_d90b3d .subtext_d90b3d {
    color: var(--text-muted);
}
