.flexible-3B4jwn {
    min-width: 180px;
}

.menu-2TXYjN:not(#account) {
    max-height: 802px;
    border-radius: 8px;
    overflow: hidden;
}

.layer-2BGhQ8[style*="left"] .submenuPaddingContainer-QgnL1r {
    padding-left: 0;
    margin-left: -4px;
}

.layer-2BGhQ8[style*="right"] .submenuPaddingContainer-QgnL1r {
    padding-right: 0;
    margin-right: -4px;
}

.scroller-nxCRu_ {
    padding: 0 !important;
    overflow: overlay !important;
}

#account.menu-2TXYjN.flexible-3B4jwn {
    min-width: 100%;
}

#account.menu-2TXYjN div[role=separator] {
    border-color: var(--profile-body-divider-color);
    margin: 0 12px;
}

#app-mount .scroller-nxCRu_:not(:hover)::-webkit-scrollbar-thumb {
    background: none;
}

.item-5ApiZt {
    margin: 0;
    border-radius: 0;
    font-size: 12px;
    line-height: 18px;
}

.item-5ApiZt .label-3CEiKJ {
    margin: 0px 4px;
}

.labelContainer-35-WEd {
    min-height: 36px;
    padding-left: 24px;
}

.item-5ApiZt.colorDefault-2_rLdz:not(.colorDanger-3umuSx) {
    color: var(--interactive-active);
}

.item-5ApiZt.colorDefault-2_rLdz.focused-3LIdPu:not(.colorDanger-3umuSx) {
    background: var(--background-modifier-hover);
}

.item-5ApiZt.colorDefault-2_rLdz.focused-3LIdPu:not(.colorDanger-3umuSx):active {
    background: var(--background-modifier-active);
}

.item-5ApiZt.colorDefault-2_rLdz.focused-3LIdPu:not(.colorDanger-3umuSx) {
    color: var(--neutralDark);
}

.item-5ApiZt.colorDefault-2_rLdz.focused-3LIdPu:not(.colorDanger-3umuSx) .iconContainer-Ksy8Oj {
    color: var(--themeDarkAlt);
}

.colorDefault-2_rLdz:active:not(.hideInteraction-1vQrZJ) {
    background: var(--background-modifier-active);
    color: var(--interactive-active);
}

.item-5ApiZt .iconContainer-Ksy8Oj:has(.icon-3XHs8t) {
    margin: 0px 4px;
    order: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hintContainer-CsCBWg,
.imageContainer-3UDrmv {
    max-height: 18px;
    margin: 0px 4px;
    order: -1;
}

.item-5ApiZt .icon-3XHs8t {
    width: 16px;
    height: 16px;
}

.separator-12G2Op {
    margin: 0;
    border-bottom: 1px solid var(--background-tertiary);
}

.wrapper--nA0oy {
    padding: 8px;
}

.customItem-1KYL7t {
    color: var(--interactive-normal);
    border-color: var(--interactive-normal);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.button-1zW0-r {
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 4px;
    background: none;
}

.button-1zW0-r:hover,
.keyboard-mode .button-1zW0-r.focused-H4w81f {
    background: var(--background-modifier-hover);
}

.caret-1TZU-U {
    width: 12px;
    height: 12px;
}

.colorDefault-2_rLdz.focused-3LIdPu .caret-1TZU-U,
.colorDefault-2_rLdz.focused-3LIdPu .checkbox-397WsK,
.colorDefault-2_rLdz.focused-3LIdPu .radioSelection-3PDNAQ,
.colorDefault-2_rLdz.focused-3LIdPu .subtext-1mqKVB {
    color: var(--text-muted);
}