.contentWrapper_e0bb2c {
    background: var(--background-primary);
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
}

.emojiPicker__5e2e2 {
    background: var(--background-primary);
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navButton_b588d0 {
    border-radius: 4px;
    color: var(--interactive-normal);
    font-size: 14px;
    font-weight: 500;
    padding: 2px 8px;
    -webkit-transition: none;
    transition: none;
}

.navItem__38e35+.navItem__38e35 {
    margin-left: 0;
}

.navButton_b588d0:hover {
    background: var(--background-modifier-hover);
}

.navButton_b588d0:active {
    background: var(--background-modifier-active);
}

.navButtonActive__0c878 {
    background: none;
    color: var(--header-primary);
    font-weight: 600;
}

.navButtonActive__0c878,
.navButtonActive__0c878:hover {
    color: var(--header-primary);
}

.navButton_b588d0::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 50%;
    bottom: 0;
    transition: width 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s;
}

.navButtonActive__0c878::after {
    background: var(--brand-experiment);
}

.navButtonActive__0c878:hover::after {
    width: 90%;
}

.container_ec5ce2,
.container__33507 {
    background: var(--background-secondary);
    border: 1px solid var(--neutralTertiary);
}

.container_ec5ce2 .iconLayout__9d9a4,
.container__33507 .iconLayout__67261 {
    order: -1;
    border-radius: 4px;
}

.container_ec5ce2 .clear__70411:hover,
.container__33507 .pointer__55d7a:hover {
    background: var(--background-modifier-hover);
}

.container_ec5ce2 .clear__70411:active,
.container__33507 .pointer__55d7a:active {
    background: var(--background-modifier-active);
}

.medium_c22914 .input__745d4,
.medium_c22914 .tag__69d9d,
.medium__5b9a9 .input__48d49,
.medium__5b9a9 .tag__3ba94 {
    padding-left: 0;
    font-size: 14px;
}

.header_e5d8b2 {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid var(--background-tertiary);
    background: var(--background-primary);
}

.categoryList_a35b58,
.emojiPickerHasTabWrapper__63198 .categoryList_eac4ac {
    top: 53px;
}

.wrapper__91b2c {
    background: var(--background-primary);
}

.header__8e271 {
    color: var(--header-primary);
    height: 100%;
    border-radius: 4px;
}

.header__8e271:hover {
    background: var(--background-modifier-hover);
}

.header__8e271:active {
    background: var(--background-modifier-active);
}

.headerLabel_febbb2 {
    text-transform: capitalize;
}

.header__8e271 .arrow_cb03b8 {
    order: -1;
    margin: 0 8px;
}

#app-mount .emojiItem_de65fd.emojiItemSelected__023be {
    background: var(--background-modifier-hover);
}

#app-mount .emojiItem_de65fd.emojiItemSelected__023be:active {
    background: var(--background-modifier-active);
}

#app-mount .header_aac16f {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid var(--background-tertiary);
}

#app-mount .container__1e477 {
    background: var(--background-primary);
}

#emoji-picker-tab-panel[role="dialog"] {
    overflow: hidden;
    border-radius: 8px;
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
}

.inspector__80c84 {
    background: var(--background-secondary);
}
