.contentWrapper__321ed {
    background: var(--background-primary);
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
}

.emojiPicker_b65ce9 {
    background: var(--background-primary);
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navButton__05cc7 {
    border-radius: 4px;
    color: var(--interactive-normal);
    font-size: 14px;
    font-weight: 500;
    padding: 2px 8px;
    -webkit-transition: none;
    transition: none;
}

.navItem_df0bc1+.navItem_df0bc1 {
    margin-left: 0;
}

.navButton__05cc7:hover {
    background: var(--background-modifier-hover);
}

.navButton__05cc7:active {
    background: var(--background-modifier-active);
}

.navButtonActive__735cb {
    background: none;
    color: var(--header-primary);
    font-weight: 600;
}

.navButtonActive__735cb,
.navButtonActive__735cb:hover {
    color: var(--header-primary);
}

.navButton__05cc7::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 50%;
    bottom: 0;
    transition: width 0.267s cubic-bezier(0.1, 0.25, 0.75, 0.9) 0s;
}

.navButtonActive__735cb::after {
    background: var(--brand-experiment);
}

.navButtonActive__735cb:hover::after {
    width: 90%;
}

.container_e4c233,
.container__7712a {
    background: var(--background-secondary);
    border: 1px solid var(--neutralTertiary);
}

.container_e4c233 .iconLayout__9fbb1,
.container__7712a .iconLayout__6d744 {
    order: -1;
    border-radius: 4px;
}

.container_e4c233 .clear_e3e382:hover,
.container__7712a .pointer__4ee20:hover {
    background: var(--background-modifier-hover);
}

.container_e4c233 .clear_e3e382:active,
.container__7712a .pointer__4ee20:active {
    background: var(--background-modifier-active);
}

.medium__2d9f3 .input_f4043f,
.medium__2d9f3 .tag__69d9d,
.medium__0fb5d .input__74754,
.medium__0fb5d .tag__3ba94 {
    padding-left: 0;
    font-size: 14px;
}

.header__55964 {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid var(--background-tertiary);
    background: var(--background-primary);
}

.categoryList__5dbc1,
.emojiPickerHasTabWrapper__80686 .categoryList_f8c48f {
    top: 53px;
}

.wrapper__7a35f {
    background: var(--background-primary);
}

.header__9f6dc {
    color: var(--header-primary);
    height: 100%;
    border-radius: 4px;
}

.header__9f6dc:hover {
    background: var(--background-modifier-hover);
}

.header__9f6dc:active {
    background: var(--background-modifier-active);
}

.headerLabel_e9f74f {
    text-transform: capitalize;
}

.header__9f6dc .arrow_cb03b8 {
    order: -1;
    margin: 0 8px;
}

#app-mount .emojiItem_b15dee.emojiItemSelected__1a09a {
    background: var(--background-modifier-hover);
}

#app-mount .emojiItem_b15dee.emojiItemSelected__1a09a:active {
    background: var(--background-modifier-active);
}

#app-mount .header_f7f1f3 {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid var(--background-tertiary);
}

#app-mount .container_aab957 {
    background: var(--background-primary);
}

#emoji-picker-tab-panel[role="dialog"] {
    overflow: hidden;
    border-radius: 8px;
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
}

.inspector__993e1 {
    background: var(--background-secondary);
}