.recentMentionsPopout_ddb5b4 .header_ac90a2 {
    padding: 10px 16px 10px 16px;
    height: unset;
    min-height: unset;
}

.header_e664f3 {
    height: unset;
    min-height: unset;
}

.header_ac90a2 h1 {
    font-weight: 600;
}

.messageGroupWrapper_ac90a2 {
    background: var(--n-yellow-canvas);
    border: none;
    border-radius: 8px;
    box-shadow: var(--elevation-card);
    margin: 0 0 16px;
}

.messageGroupWrapper_ac90a2::before,
.recentMentionsPopout_ddb5b4 .container_ddb5b4::before,
.recentMentionsPopout_ddb5b4 .channel_d09ffd::before {
    content: '';
    width: 100%;
    height: 6px;
    background: var(--n-yellow-stroke);
    position: absolute;
    top: 0;
    left: 0;
}

.recentMentionsPopout_ddb5b4 .container_ddb5b4,
.recentMentionsPopout_ddb5b4 .channel_d09ffd {
    background: var(--n-yellow-canvas);
    position: relative;
    box-shadow: var(--elevation-card);
}

.recentMentionsPopout_ddb5b4 .channelHeader_f3978e {
    background: none;
    border-bottom: none;
    padding: 16px 16px 0 16px;
}

.controls_f0cd33 .button__292b6[aria-label] {
    width: unset;
}

.controls_f0cd33 .button__292b6[aria-label]::after {
    content: attr(aria-label);
    font-size: 12px;
}

.controls_f0cd33 .button__292b6[aria-label] svg {
    margin-right: 7px;
}

.controls_f0cd33 .button__292b6[aria-label]:not(.disabled__4d064) {
    background: none;
    border-radius: 4px;
    padding: 6px 10px;
    transition: none;
}

.controls_f0cd33 .button__292b6[aria-label]:not(.disabled__4d064):hover {
    background: var(--background-modifier-hover);
}

.controls_f0cd33 .button__292b6[aria-label]:not(.disabled__4d064):active {
    background: var(--background-modifier-active);
}
