.recentMentionsPopout__40c54 .header__21b33 {
    padding: 10px 16px 10px 16px;
    height: unset;
    min-height: unset;
}

.header__6d44a {
    height: unset;
    min-height: unset;
}

.header__21b33 h1 {
    font-weight: 600;
}

.messageGroupWrapper__1fce2 {
    background: var(--n-yellow-canvas);
    border: none;
    border-radius: 8px;
    box-shadow: var(--elevation-card);
    margin: 0 0 16px;
}

.messageGroupWrapper__1fce2::before,
.recentMentionsPopout__40c54 .container__7c2c1::before,
.recentMentionsPopout__40c54 .channel__36a7e::before {
    content: '';
    width: 100%;
    height: 6px;
    background: var(--n-yellow-stroke);
    position: absolute;
    top: 0;
    left: 0;
}

.recentMentionsPopout__40c54 .container__7c2c1,
.recentMentionsPopout__40c54 .channel__36a7e {
    background: var(--n-yellow-canvas);
    position: relative;
    box-shadow: var(--elevation-card);
}

.recentMentionsPopout__40c54 .channelHeader_ea0f89 {
    background: none;
    border-bottom: none;
    padding: 16px 16px 0 16px;
}

.controls_fa77da .button__292b6[aria-label] {
    width: unset;
}

.controls_fa77da .button__292b6[aria-label]::after {
    content: attr(aria-label);
    font-size: 12px;
}

.controls_fa77da .button__292b6[aria-label] svg {
    margin-right: 7px;
}

.controls_fa77da .button__292b6[aria-label]:not(.disabled__4d064) {
    background: none;
    border-radius: 4px;
    padding: 6px 10px;
    transition: none;
}

.controls_fa77da .button__292b6[aria-label]:not(.disabled__4d064):hover {
    background: var(--background-modifier-hover);
}

.controls_fa77da .button__292b6[aria-label]:not(.disabled__4d064):active {
    background: var(--background-modifier-active);
}
