.messagesPopoutWrap-3zryHW {
    max-height: 78vh !important;
    background: var(--background-primary);
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
    border-radius: 8px;
}

.messagesPopout-eVzQcI {
    padding: 16px 8px 0 16px !important;
}

.header-1w9Q93,
.header-3_zmOb {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: var(--background-primary);
    border-bottom: 1px solid var(--background-tertiary);
    padding: 16px;
}