.container_eb737e {
    background: var(--background-primary);
}

.browser_fa9cea {
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
    max-width: 320px;
    min-width: 320px;
    width: 320px;
}

.container_f93da8 {
    background: var(--background-primary);
}

.threadIcon_a292d5 {
    height: 16px;
    width: 16px;
}

.browser_fa9cea .closeIcon_ab1a00,
.browser_fa9cea .divider__622af {
    display: none;
}

.browser_fa9cea .searchBox__9423b {
    margin-right: 0;
}

.browser_fa9cea .list__19127 {
    padding: 16px;
}

.sectionHeader__0f7c3 {
    text-transform: capitalize;
    font-size: 14px;
}

.container__9922f {
    background: var(--n-gray-canvas);
    border: none;
    box-shadow: var(--elevation-card);
    margin-bottom: 16px;
    padding: 16px;
    overflow: hidden;
}

.container__9922f::before {
    content: '';
    width: 100%;
    height: 6px;
    background: var(--n-gray-stroke);
    position: absolute;
    top: 0;
    left: 0;
}

.container__9922f:hover {
    -webkit-box-shadow: var(--n-note-box-shadow);
    box-shadow: var(--n-note-box-shadow);
}
