.container_f1c3d9 {
    background: var(--background-primary);
}

.browser_f542fc {
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
    max-width: 320px;
    min-width: 320px;
    width: 320px;
}

.container_e664f3 {
    background: var(--background-primary);
}

.threadIcon_e664f3 {
    height: 16px;
    width: 16px;
}

.browser_f542fc .closeIcon_e664f3,
.browser_f542fc .divider_e664f3 {
    display: none;
}

.browser_f542fc .searchBox_e664f3 {
    margin-right: 0;
}

.browser_f542fc .list_c6aa12 {
    padding: 16px;
}

.sectionHeader_c6aa12 {
    text-transform: capitalize;
    font-size: 14px;
}

.container_acb8b3 {
    background: var(--n-gray-canvas);
    border: none;
    box-shadow: var(--elevation-card);
    margin-bottom: 16px;
    padding: 16px;
    overflow: hidden;
}

.container_acb8b3::before {
    content: '';
    width: 100%;
    height: 6px;
    background: var(--n-gray-stroke);
    position: absolute;
    top: 0;
    left: 0;
}

.container_acb8b3:hover {
    -webkit-box-shadow: var(--n-note-box-shadow);
    box-shadow: var(--n-note-box-shadow);
}
