.section-28YDOf .lineClamp2Plus-2SCQmH:not(.headerText-3MQ6n4 .lineClamp2Plus-2SCQmH) {
    -webkit-line-clamp: unset !important;
    max-height: 112px;
    overflow-x: hidden;
    overflow-y: auto;
}

.section-28YDOf .lineClamp2Plus-2SCQmH::-webkit-scrollbar {
    width: 4px;
}

.section-28YDOf .lineClamp2Plus-2SCQmH::-webkit-scrollbar-track {
    border-radius: 10px;
}

.section-28YDOf .markup-eYLPri .lineClamp2Plus-2SCQmH::-webkit-scrollbar-thumb {
    background: none;
}

.section-28YDOf .lineClamp2Plus-2SCQmH::-webkit-scrollbar-thumb {
    border-radius: 4px;
}