.section__6f61e .lineClamp2Plus_d4306b:not(.headerText-3MQ6n4 .lineClamp2Plus_d4306b) {
    -webkit-line-clamp: unset !important;
    max-height: 112px;
    overflow-x: hidden;
    overflow-y: auto;
}

.section__6f61e .lineClamp2Plus_d4306b::-webkit-scrollbar {
    width: 4px;
}

.section__6f61e .lineClamp2Plus_d4306b::-webkit-scrollbar-track {
    border-radius: 10px;
}

.section__6f61e .markup_a7e664 .lineClamp2Plus_d4306b::-webkit-scrollbar-thumb {
    background: none;
}

.section__6f61e .lineClamp2Plus_d4306b::-webkit-scrollbar-thumb {
    border-radius: 4px;
}